@charset"utf-8";

html {
  --primaryBackground: #ededed;
  --primaryTextColor: #4a4a4a;
  --primaryContentBackground: #fff;
  --primaryContentHeader: #004d93;
  --primarySubBackground: #ededed;

  --headerBackground: #001b34;
  --subHeaderBackground: #004d93;
  --primaryBorder: #d9d9d9;

  --chartTextColor: #333;
  --chartAxisLabelColor: #666;

  --buttonBackground: #fff;
  --buttonSelectedColor: #001b34;
  --buttonSelectedHover: #1a3248;
  --buttonBorderColor: #1a3248;
  --buttonTextColor: #4a4a4a;
  --buttonHoverColor: #e5e5e5;

  --leftNavBackground: #d9d9d9;
  --leftTreeGroup: #e6e6e6;
  --leftExpandCollapse: #e4e4e4;

  --tabMenuText: #9b9b9b;
  --tabMenuHover: #e2ecfd;
  --tableActiveRow: #999;

  --tableHeaderColor: #4a4a4a;
  --tableRowOdd: #f5f5f5;
  --tableRowEven: #fff;

  --pageCurrentHover: #1a3248;

  --dashboardMapsText: #000;
  --dashboardMapsHover: #e2ecfd;

  --subFrameColor: #e8e9ed;

  --formBackground: #fff;
  --formGroupBackground: #f2f2f2;
  --formInputBorderColor: #d9d9d9;
  --formEmailGroup: #004d99;
  --formReadOnlyColor: #777;
  --formReadOnlyBackground: #eee;
  --formReadOnlyBorderColor: #d9d9d9;
  --formCheckRadioColor: #001b34;
  --fadedColor: #fff;

  --gisMapBackground: #001b34;
  --laBackground: #fff;
}
html[data-theme='dark'] {
  --primaryBackground: #000;
  --primaryTextColor: #fff;
  --primaryContentBackground: #1f1e1e;
  --primaryContentHeader: #069bda;
  --primarySubBackground: #1f1e1e;

  --headerBackground: #1a2640;
  --subHeaderBackground: #005580;
  --primaryBorder: #4b4b4b;

  --chartTextColor: #fff;
  --chartAxisLabelColor: #fff;

  --buttonBackground: #1a668c;
  --buttonSelectedColor: #069bda;
  --buttonSelectedHover: #089bda;
  --buttonBorderColor: #4b4b4b;
  --buttonTextColor: #fff;
  --buttonHoverColor: #1a668c;

  --leftNavBackground: #000;
  --leftTreeGroup: #1a1a1a;
  --leftExpandCollapse: #1f1e1e;

  --tabMenuText: #fff;
  --tabMenuHover: #1a3248;

  --tableHeaderColor: #069bda;
  --tableRowOdd: #1f1e1e;
  --tableRowEven: #0f0f0f;
  --tableActiveRow: #666;

  --pageCurrentHover: #005580;

  --dashboardMapsText: #fff;
  --dashboardMapsHover: #1a3248;

  --subFrameColor: #0f0f0f;

  --formBackground: #474747;
  --formGroupBackground: #333;
  --formInputBorderColor: #474747;
  --formEmailGroup: #069bda;
  --formReadOnlyColor: #fff;
  --formReadOnlyBackground: #666;
  --formReadOnlyBorderColor: #666;
  --formCheckRadioColor: #089bda;
  --fadedColor: #999;

  --gisMapBackground: #1f1e1e;
  --laBackground: #333;
}
html, body, #app-container {
  font-family:"Segoe UI", "微軟正黑體", "新細明體";
  font-size: 1em;
  color: var(--chartTextColor);
  min-width: 720px;
  background-color: var(--primaryContentBackground);
}
main.main {
  min-height: 92vh;
}
footer.footer {
  padding: 2px 10px;
  font-size: .9em;
  &.login {
    position: absolute;
    color: #fff;
    bottom: 2px;
  }
}
/* Temporary Fix for Gis library bug */
.leaflet-marker-icon.gis-divIcon > div.gis-spot {
  margin-bottom: 0;
  padding-bottom: 12px;
}
/*******/
.font-bold {
  font-weight: bold;
}
*::-webkit-scrollbar-thumb {
  background: var(--buttonSelectedColor);
  &:hover {
    background: var(--pageCurrentHover)
  }
}
button {
  background-color: var(--buttonSelectedColor);
  border: 1px solid var(--primaryBorder);
  &[disabled] {
    border: 1px solid var(--primaryBorder);
  }
  &:hover:not([disabled]) {
    background-color: var(--buttonSelectedColor);
  }
  &.standard {
    &:hover:not([disabled]) {
      background-color: var(--buttonHoverColor);
    }
    color: var(--buttonTextColor);
    background-color: var(--buttonBackground);
  }
}
.pure-form input,
.pure-form select,
.pure-form textarea,
.c-file-input > input[type='text']:read-only {
  color: var(--primaryTextColor);
  background-color: var(--formBackground);
  border: 1px solid var(--formInputBorderColor);
}
.pure-form input[type=text],
.pure-form input[type=password],
.pure-form input[type=email] {
  border: 1px solid var(--formInputBorderColor);
}
.pure-form input[readonly],
.pure-form select[readonly],
.pure-form textarea[readonly] {
  color: var(--formReadOnlyColor);
  background-color: var(--formReadOnlyBackground);
  border: 1px solid var(--formReadOnlyBorderColor);
}
.pure-form input[type='radio']:checked {
  border: 6px solid var(--formCheckRadioColor);
  &:hover {
    border: 6px solid var(--pageCurrentHover);
  }
}
.c-tabs > .menu {
  background-color: var(--primaryContentBackground);
  border-bottom: 1.5px solid var(--leftNavBackground);
  li {
    color: var(--tabMenuText);
    border-color: var(--primaryContentHeader);
    background-color: var(--primaryContentBackground);
    &:hover {
      background-color: var(--tabMenuHover);
    }
  }
  .current {
    color: var(--primaryContentHeader);
    background-color: var(--primaryContentBackground);
  }
}
.c-popover {
  color: var(--primaryTextColor);
  background-color: var(--primaryContentBackground);
}
.c-tree {
  ul li:last-child:before {
    background: var(--primaryContentBackground);
  }
  .selected,
  .branch:hover:not(.selected) {
    color: var(--primaryContentHeader);
  }
  background-color: var(--primaryContentBackground);
}
.c-table {
  thead {
    color: var(--tableHeaderColor);
    background-color: var(--primaryBackground);
    border-bottom: 1px solid var(--primaryBorder);
  }
  tbody {
    color: var(--primaryTextColor);
  }
  &:not(.bland):not(.c-grid) tbody tr:nth-child(odd) {
    background-color: var(--tableRowOdd);
  }
  &:not(.bland):not(.c-grid) tbody tr:nth-child(even) {
    background-color: var(--tableRowEven);
  }
  &:not(.nohover) tbody tr:hover:not(.selected) {
    background-color: var(--tabMenuHover) !important;
  }
}
.c-menu {
  border: 1px solid var(--primaryBorder);
  &.sub {
    background-color: var(--primaryContentBackground);
  }
  &.sub > * {
    color: var(--primaryTextColor);
    border-bottom: 1px solid var(--primaryContentBackground);
    &:hover {
      background-color: var(--tabMenuHover);
      border-bottom: 1px solid var(--primaryContentBackground);
    }
  }  
}
.c-toggle-btn > input[type=checkbox] + div {
  background: var(--fadedColor);
}
.c-toggle-btn > input[type=checkbox]:checked + div {
  background: var(--formCheckRadioColor);
}
.c-toggle-btn:hover input[type=checkbox]:checked + div {
  background: var(--pageCurrentHover);
}
.c-button-group {
  &.left {
    float: left;
    margin-top: 1px;
  }
  &.right {
    float: right;
    margin-top: 1px;
  }
  .thumb {
    padding-left: 25px;
    padding-right: 25px;
    &.selected {
      background-color: var(--buttonSelectedColor);
      border-top-color: var(--buttonSelectedColor);
      border-bottom-color: var(--buttonSelectedColor);
      border-left-color: var(--primaryBorder);
      border-right-color: var(--primaryBorder);
      &:not(:disabled):hover {
        background-color: var(--buttonSelectedHover);
        border-top-color: var(--buttonSelectedHover);
        border-bottom-color: var(--buttonSelectedHover);
      }
    }
    &:not(.selected) {
      color: var(--primaryTextColor);
      background-color: var(--buttonBackground);
      border-top-color: var(--primaryBorder);
      border-bottom-color: var(--primaryBorder);
      border-left-color: var(--primaryBorder);
      border-right-color: var(--primaryBorder);
      &:not(:disabled):hover {
        color: var(--primaryTextColor);
        background-color: var(--buttonBackground);
        border-top-color: var(--primaryBorder);
        border-bottom-color: var(--primaryBorder);
      }
    }
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  &.menu {
    .thumb {
      padding: 0;
      a {
        width: 100%;
        height: 100%;
        padding: 0.3em 0.5em;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
}
.c-contextmenu {
  position: absolute;
}
i.c-checkbox.fg-checkbox {
  color: var(--buttonSelectedColor);
  &:hover:not(.disabled) {
    color: var(--pageCurrentHover);
  }
}
.c-hierarchy {
  background: none;
  .node:hover:not(.current) {
    color: var(--primaryContentHeader);
  }
  &.tree {
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    background-color: var(--leftTreeGroup);
    i.c-checkbox {
      color: var(--buttonSelectedColor);
      &.fg-checkbox {
        &.partial {
          color: #a6a6a6;
        }
      }
      &.fg-checkbox-outline:active:not(.disabled),
      &.fg-checkbox-outline:hover:not(.disabled) {
        color: var(--chartAxisLabelColor);
      }
    }
    .children .branch:last-child:before,
    .leaf:last-child:before {
      background-color: var(--leftTreeGroup);
    }
  }
}
.c-page-nav .thumb {
  &:not(.selected) {
    color: var(--primaryTextColor);
    background-color: var(--primaryContentBackground);
    border-top-color: var(--primaryBorder);
    border-bottom-color: var(--primaryBorder);
    border-left-color: var(--primaryBorder);
    border-right-color: var(--primaryBorder);
    &:not(:disabled):hover {
      background-color: var(--tabMenuHover);
      border-top-color: var(--primaryBorder);
      border-bottom-color: var(--primaryBorder);
    }
  }
  &.current {
    color: #fff;
    background-color: var(--buttonSelectedColor);
    border-top-color: var(--buttonSelectedColor);
    border-bottom-color: var(--buttonSelectedColor);
    border-left-color: var(--leftNavBackground);
    border-right-color: var(--leftNavBackground);
    &:not(:disabled):hover {
      background-color: var(--pageCurrentHover);
      border-top-color: var(--pageCurrentHover);
      border-bottom-color: var(--pageCurrentHover);
    }
  }
}
.c-date-picker i.fg {
  height: 35px;
}
.c-box {
  background-color: var(--primaryContentBackground);
  border: 1px solid var(--primaryBorder);
  & > header {
    color: var(--primaryContentHeader);
  }
  & > footer {
    border-top: 1px solid var(--primaryBorder);
  }
}
.c-la {
  & > .actions {
    background-color: var(--tableRowOdd);
  }
  canvas {
    background: var(--laBackground) !important;
  }
}
#language-menu {
  left: auto !important;
  top: 40px !important;
  right: 10px;
  li {
    &:first-child {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-child {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}
#g-header { //Top nav menu
  color: #fff;
  padding: 0 15px;
  height: 45px;
  background-color: var(--headerBackground);
  .title {
    position: absolute;
    top: 4px;
    font-size: 1.6em;
    letter-spacing: 1px;
    img {
      float: left;
      margin-top: 7px;
      margin-right: 10px;
    }
  }
  .main-nav { //Main top nav
    text-align: center;
    .item {
      padding: 12px 35px;
      &:hover {
        background-color: #1a3248;
      }
      &.active {
        background-color: var(--subHeaderBackground);
        &:hover {
          opacity: .9;
        }
      }
    }
  }
  .account {
    position: absolute;
    font-size: 1.8em;
    top: 0;
    right: 15px;
    cursor: pointer;
  }
}
#g-progress.c-modal.spin > .dialog {
  border: none;
}
#eventsQueryMenu {
  z-index: 10000;
}
.leaflet-touch .leaflet-bar a:first-child {
  display: block !important;
}
#indicatorUpload,
#PcapUpload {
  width: 100%;
  margin-bottom: 100px;
  input {
    &[type="file"] {
      max-width: 535px;
    }
    &[type="text"] {
      width: 430px;
    }
  }
}
#eventsViewMenu {
  .disabled-tag-menu {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
#gisMap {
  width: 100%;
  height: 77vh;
  &.full {
    height: 95vh;
  }
  &.fit {
    height: 70vh;
    overflow-y: auto;
  }
  .actions {
    display: none;
  }
  .leaflet-container {
    background: -webkit-linear-gradient(top, var(--gisMapBackground), var(--subHeaderBackground))
  }
}
.main-table {
  &.align-center {
    tbody td {
      text-align: center;
      padding-left: 0;
    }
  }
}
#app-container {
  .sub-header { //The blue bar
    position: relative;
    color: #fff;
    height: 45px;
    padding: 5px 10px;
    overflow: hidden;
    background-color: var(--subHeaderBackground);
    min-height: 42px;
    .secondary-btn-group {
      &.left {
        float: left;
      }
      &.right {
        float: right;
        margin-top: 1px;
      }
      button {
        color: var(--buttonTextColor);
        padding: .3em .6em;
        margin-right: 5px;
        background-color: var(--buttonBackground);
        &.active {
          color: #fff;
          background-color: var(--buttonSelectedColor);
        }
        &.last {
          margin-right: 0;
        }
        .fg {
          float: left;
          &.fg-edit {
            margin-left: 5px;
          }
        }
        span {
          float: left;
        }
      }
      .last-update {
        float: right;
        margin-top: 7px;
        margin-left: 5px;
      }
    }
    .date-time {
      position: absolute;
      top: 10px;
      right: 15px;
      color: #fff;
    }
    .search-options {
      position: absolute;
      top: 5px;
      select,
      input {
        color: var(--primaryTextColor);
        background-color: var(--buttonBackground);
        border: var(--buttonBorderColor);
      }
      .search-type {
        float: left;
        margin-right: 10px;
      }
      #updateInterval {
        margin-right: 10px;
      }
      .search-interval {
        float: left;
        margin-right: 10px;
        .time-interval {
          background-color: var(--primaryContentBackground);
          height: 36px;
          box-shadow: none;
          cursor: pointer;
        }
      }
      .datepicker {
        float: left;
        .daterange {
          margin-right: 15px;
        }
        .fg {
          border: none;
        }
      }
      #datetime-from,
      #datetime-to {
        padding: 0.5em;
      }
      .search-button {
        margin-top: 2px;
        background-color: var(--buttonSelectedColor);        
      }
    }
  }
  header.main-header {
    position: relative;
    color: var(--primaryContentHeader);
    font-size: 1.1em;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid var(--primaryBorder);
    background-color: var(--primaryContentBackground);
  }
  .highcharts-container {
    rect {
      &.highcharts-background {
        fill: var(--primaryContentBackground);
      }
    }
    .highcharts-legend-item {
      text {
        fill: var(--chartTextColor) !important;
      }
    }
    .highcharts-axis-labels,
    .highcharts-legend {
      text {
        fill: var(--chartAxisLabelColor) !important;
      }
    }
  }
  .main-statistics { //For all statistics page
    height: 78vh;
    overflow-y: auto;
    padding: 6px;
    background-color: var(--leftNavBackground);
    .statistics-content {
      display: flex;
      flex-grow: 12;
      flex-wrap: wrap;
      .chart-group {
        width: 49.2%;
        margin: 5px;
        border: none;
        border-radius: 5px;
        overflow: hidden;
        background-color: var(--primaryContentBackground);
        .empty-data {
          position: relative;
          height: 458px;
          span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2em;
          }
        }
        header {
          color: var(--primaryContentHeader);
          font-size: 1.1em;
          font-weight: bold;
          padding: 15px;
          border-bottom: 1px solid var(--primaryBorder);
          background-color: var(--primaryContentBackground);
        }
      }
    }
  }
  .table-menu { //table menu [...] button
    visibility: hidden;
    &.active {
      visibility: visible;
      button,
      .fg {
        cursor: pointer;
      }
    }
    button {
      padding: .3em .5em;
      color: var(--primaryTextColor);
      background-color: var(--primaryContentBackground);
    }
    &.menu {
      i.fg {
        font-size: 26px;
        margin-right: 8px;
      }
    }
  }
  .table-cell {
    position: relative;
    .flag-icon,
    .fg-network {
      float: left;
      margin-right: 5px;
    }
    .fg-filter {
      visibility: hidden;
      margin-left: 5px;
      &.active {
        visibility: visible;
        cursor: pointer;
      }
    }
    span {
      &.red {
        color: #fff;
        background-color: #B80000;
        padding-left: 10px;
      }
      &.yellow {
        color: #fff;
        background-color: #FCCB00;
        padding-left: 10px;
      }
      &.green {
        color: #fff;
        background-color: #008B02;
        padding-left: 10px;
      }
      &.darkGreen {
        color: #fff;
        background-color: #006B76;
        padding-left: 10px;
      }
      &.blue {
        color: #fff;
        background-color: #1273DE;
        padding-left: 10px;
      }
      &.orange {
        color: #fff;
        background-color: #DB3E00;
        padding-left: 10px;
      }
      &.darkBlue {
        color: #fff;
        background-color: #004DCF;
        padding-left: 10px;
      }
      &.purple {
        color: #fff;
        background-color: #5300EB;
        padding-left: 10px;
      }
      &.soil {
        color: #fff;
        background-color: #C1B748;
        padding-left: 10px;
      }
      &.brown {
        color: #fff;
        background-color: #660000;
        padding-left: 10px;
      }
    }
  }
  .main-dashboard { //For Dashboard section
    height: 87vh;
    overflow-y: auto;
    padding: 15px;
    background-color: var(--primaryBackground);
    .charts {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .chart-group {
        width: 24.4%;
        height: 400px;
        margin: 5px;
        border: 1px solid var(--primaryBorder);
        border-radius: 5px;
        background-color: var(--primaryContentBackground);
        overflow: hidden;
        &.bar {
          width: 49.32%;
          height: 460px;
        }
        .main-table {
          &.align-center {
            tbody td {
              text-align: center;
              padding-left: 0;
            }
          }
          &.ivr {
            span {
              color: #004d93;
              font-weight: bold;
              text-decoration: underline;
            }
          }
        }
        .empty-data {
          position: relative;
          height: 458px;
          span {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2em;
          }
        }
        header {
          color: var(--primaryContentHeader);
          font-size: 1.1em;
          font-weight: bold;
          padding: 15px;
          border-bottom: 1px solid var(--primaryBorder);
          background-color: var(--primaryContentBackground);
        }
        .show-pointer table tbody tr {
          cursor: pointer;
        }
        .c-chart-pie {
          height: 345px;
        }
        .c-chart.table {
          height: 345px;
          overflow-y: auto;
        }
        .hmd-info,
        .license-date,
        .dns-histogram,
        .disk-usage {
          height: 200px;
          .group {
            padding-top: 25px;
          }
          span.show-empty {
            display: block;
            text-align: center;
            margin-top: 50px;
            &.date {
              font-size: 25px;
            }
          }
        }
        .hmd-info,
        .dns-histogram {
          border-bottom: 1px solid var(--primaryBorder);
        }
      }
    }
    &.threats {
      height: 78vh;
      padding: 5px;
      .charts {
        .chart-group {
          width: 49.3%;
        }
      }
    }
    .maps {
      position: relative;
      width: 100%;
      min-height: 84vh;
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
      padding: 10px 5px;
      background-color: var(--primaryContentBackground);
      .c-button-group {
        margin: 5px 8px;
      }
      .drop-down {
        position: absolute;
        top: 14px;
        left: 200px;
        width: 145px;
      }
      .floor-map {
        overflow: hidden;
        .left-tree {
          float: left;
          width: 330px;
          margin-top: 25px;
          overflow: hidden;
          padding-left: 10px;
          padding-right: 10px;
          .empty {
            display: block;
            text-align: center;
            margin-top: 25px;
          }
          ul {
            max-height: 74vh;
            overflow-y: auto;
            border-top: 1px solid var(--primaryBorder);
            border-right: 1px solid var(--primaryBorder);
            border-left: 1px solid var(--primaryBorder);
            li {
              position: relative;
              color: var(----primaryTextColor);
              height: 70px;
              background-color: var(--primaryContentBackground);
              border-bottom: 2px solid var(--primaryBorder);
              cursor: pointer;
              &:hover {
                background-color: var(--dashboardMapsHover);
              }
              .info {
                color: var(--dashboardMapsText);
                font-size: 18px;
                padding: 8px 10px;
                &.faded {
                  font-style: italic;
                  color: var(--tableActiveRow);
                }
                span {
                  display: block;
                  margin-bottom: 2px;
                }
              }
              .count {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 70px;
                padding: 2px;
                color: #fff;
                text-align: center;
                border-radius: 15px;
              }
            }
          }
        }
        .map {
          float: left;
          width: 80%;
          text-align: center;
        }
      }
    }
    .loader-wrap {
      text-align: center;
      margin-top: 200px;
      display: block;
      .fg-loading-2 {
        font-size: 30px;
      }
    }
  }
  .data-content {
    display: flex;
    min-height: 87vh;
    .left-nav {
      position: relative;
      flex-grow: 0;
      flex-shrink: 0;
      width: 360px;
      min-width: 15px;
      border-right: 1px solid var(--leftNavBackground);
      background-color: var(--leftNavBackground);
      &.collapse {
        width: 0;
        & > .item {
          display: none;
        }
      }
      &.tree {
        padding: 10px 25px 10px 10px;
        &.collapse {
          width: 0;
          padding: 0;
        }
        span.loading {
          display: block;
          text-align: center;
          margin-top: 50px;
        }
      }
      .content {
        overflow-y: auto;
        max-height: 84vh;
        padding-right: 10px;
      }
      .expand-collapse {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 15px;
        background-color: var(--leftExpandCollapse);
        border-left: 1px solid var(--leftNavBackground);
        cursor: pointer;
        &.not-allowed {
          cursor: not-allowed;
        }
        .fg {
          position: absolute;
          top: 380px;
          left: -5px;
          color: var(--chartAxisLabelColor);
          font-size: 1.5em;
        }
      }
      label {
        display: block;
        margin: 15px 0 3px 0;
        &.first-label {
          margin-top: 0;
        }
        &.inline-display {
          float: left;
          margin-right: 10px;
          & + .c-checkbox {
            float: left;
            margin-top: 14px;
            & + label {
              clear: both;
            }
          }
        }
      }
      .header-text {
        color: var(--primaryContentHeader);
        font-size: .9em;
        padding: 10px;
        margin-top: 0;
        margin-bottom: 0;
        cursor: text;
        &.hide {
          display: none;
        }
      }
      .alert-tree,
      .private-tree {
        .fg-recode {
          float: left;
          font-size: 1em;
          margin-top: 3px;
          margin-right: 3px;
          &.Emergency {
            color: #CC2943;
          }
          &.Alert {
            color: #CC7B29;
          }
          &.Critical {
            color: #29B0CC;
          }
          &.Warning {
            color: #29CC7A;
          }
          &.Notice {
            color: #7ACC29;
          }
        }
      }
      input,
      select,
      .c-combobox {
        width: 100%;
      }
      .c-hierarchy {
        .button {
          display: none;
          font-size: .5em;
          color: var(--primaryTextColor);
          padding: .1em .8em;
          border-radius: 5px;
          color: var(--buttonTextColor);
          background-color: var(--buttonBackground);
          &.active {
            display: inline-block;
          }
        }
      }
      .analysis-type {
        margin-bottom: 10px;
      }
      .frame,
      .subframe { //For Config left nav
        cursor: pointer;
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
        &:hover {
          background-color: var(--dashboardMapsHover);
        }
      }
      .frame {
        position: relative;
        width: 96%;
        height: 50px;
        border-bottom: 1px solid var(--primaryBorder);
        background-color: var(--primaryContentBackground);
        &.issues-feedback span {
          display: block;
          width: 100%;
          height: 100%;
        }
        span {
          display: block;
          font-weight: bold;
          padding-top: 10px;
          padding-left: 15px;
          &.true {
            color: var(--primaryContentHeader);
          }
        }
        .fg-arrow-top,
        .fg-arrow-bottom {
          position: absolute;
          top: 10px;
          right: 10px;
        }
      }
      .subframe {
        width: 100%;
        height: 50px;
        background-color: var(--subFrameColor);
        span {
          display: block;
          padding-top: 15px;
          padding-left: 20px;
          &.true {
            color: var(--primaryContentHeader);
          }
        }
      }
    }
    .config-notify,
    .auto-settings {
      overflow-y: auto;
    }
    .parent-content {
      flex-grow: 1;
      overflow-x: auto;
      overflow: hidden;
      white-space: nowrap;
      background-color: var(--primaryBackground);
      .main-filter,
      .main-mark,
      .main-chart {
        position: relative;
        display: none;
        &.active {
          display: block;
        }
        & > .fg-close {
          position: absolute;
          top: 5px;
          right: 5px;
          cursor: pointer;
        }
      }
      .main-filter,
      .main-mark {
        padding: 5px 10px 10px 10px;
        border-bottom: 1px solid var(--primaryBorder);
        background-color: var(--primaryContentBackground);
        overflow: hidden;
        .filter-section,
        .mark-section {
          .filter-warp,
          .mark-wrap {
            padding: 5px 7px;
            & > span {
              margin: 3px 0;
            }
            .group {
              .fg-add {
                color: #fff;
                background-color: var(--formCheckRadioColor);
              }
            }
            .filter-select {
              width: 215px;
            }
            .condition-select {
              width: 100px;
              height: 35px;
              margin-right: 3px;
            }
            .filter-inputbox {
              width: 230px;
              height: 35px;
            }
            .mark-inputbox {
              width: 200px;
              height: 35px;
            }
            .fg-recode {
              float: left;
              width: 32px;
              padding: 5px 5px 6px 4px;
              margin-right: 3px;
              border: 1px solid var(--formReadOnlyBorderColor);
              border-radius: 5px;
              &.red {
                color: #B80000;
              }
              &.yellow {
                color: #FCCB00;
              }
              &.green {
                color: #008B02;
              }
              &.darkGreen {
                color: #006B76;
              }
              &.blue {
                color: #1273DE;
              }
              &.orange {
                color: #DB3E00;
              }
              &.darkBlue {
                color: #004DCF;
              }
              &.purple {
                color: #5300EB;
              }
              &.soil {
                color: #C1B748;
              }
              &.brown {
                color: #660000;
              }
            }
          }
          .mark-wrap {
            .group:nth-child(10) {
              button {
                display: none;
              }
            }
          }
        }
        .button-group {
          margin-bottom: 5px;
          display: block;
          &.group-aligned {
            position: absolute;
            right: 10px;
            bottom: 10px;
          }
          .open-query,
          .save-query {
            font-size: 15px;
            color: var(--buttonTextColor);
            margin: 5px;
            padding: 0;
            background: none;
            padding: 0 10px;
          }
          .clear,
          .filter {
            float: right;
            margin-top: 5px;
            margin-left: 5px;
            padding: .2em 1em;
            font-size: 14px;
          }
          .clear {
            color: var(--buttonTextColor);
            background-color: var(--buttonBackground);
          }
        }
      }
      .main-filter {
        .header-text {
          float: left;
          margin: 5px;
          color: var(--primaryContentHeader);
        }
        .button-group.open-query {
          position: relative;
          float: left;
        }
        .filter-section {
          display: flex;
          flex-wrap: wrap;
          margin-top: 40px;
          &.config {
            .group {
              padding: 5px;
              label {
                display: block;
                font-size: 15px;
                color: var(--primaryContentHeader);
                margin-bottom: 3px;
              }
              input {
                width: 185px;
              }
              select {
                width: auto;
                min-width: 185px;
              }
              &.last {
                width: 100%;
                margin-top: 10px;
                label {
                  float: left;
                  margin-top: 1px;
                  margin-right: 5px;
                }
                i {
                  float: left;
                  margin-right: 3px;
                }
              }
              &.group-checkbox {
                position: relative;
                display: flex;
                margin: 0 5px 5px 5px;
                padding: 10px;
                border: 1px solid var(--leftNavBackground);
                border-radius: 5px;
                background-color: var(--primaryContentBackground);
                &.narrow {
                  padding: 5px;
                }
                .group-options {
                  display: flex;
                  .option {
                    margin-right: 10px;
                    label {
                      float: left;
                      margin-top: 1px;
                      margin-right: 5px;
                      color: #ccc;
                      &.active {
                        color: var(--primaryContentHeader);
                      }
                    }
                    i {
                      float: left;
                      margin-right: 3px;
                    }
                  }
                }
              }
            }
            .severity label {
              color: var(--primaryContentHeader);
              display: block;
              margin: 4px 0 2px 5px;
            }
          }
        }
      }
      .main-mark {
        .header-text {
          color: var(--primaryContentHeader);
          margin-bottom: 8px;
        }
      }
      .main-chart { //For main chart in Events and Syslog
        border-bottom: 1px solid var(--primaryBorder);
        .chart-content {
          position: absolute;
          background-color: var(--primaryContentBackground);
          &.connections {
            padding-left: 10px;
            padding-bottom: 20px;
          }
          .chart-btn {
            margin-right: 10px;
          }
        }
        .chart-btn,
        .interval-btn {
          display: inline-block;
          margin-top: 20px;
          .thumb {
            padding-left: 10px;
            padding-right: 10px;
          }
        }
        .bar-chart {
          padding-top: 70px;
          background-color: var(--primaryContentBackground);
          .error {
            padding-left: 20px;
            margin-top: -45px;
          }
        }
      }
      .main-content { //Content below the filter or charts
        position: relative;
        margin: 15px;
        border-radius: 5px;
        background-color: var(--primarySubBackground);
        border: 1px solid var(--primaryBorder);
        overflow: hidden;
        &.basic-form { //For content with form input
          background-color: var(--primaryContentBackground);
          min-height: 84vh;
          input,
          select,
          textarea {
            width: 100%;
            box-shadow: none;
          }
          footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: right;
            padding: 15px;
            border-top: 1px solid var(--primaryBorder);
            button {
              margin: 0 5px;
            }
          }
          .form-group { //For individual form group
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            text-align: center;
            margin: 0 auto;
            margin-top: 70px;
            margin-bottom: 40px;
            width: 70%;
            padding: 10px 10px 15px 10px;
            background-color: var(--formGroupBackground);
            border: 1px solid var(--primaryBorder);
            border-radius: 5px;
            #edgeModeDatetime {
              text-align: left;
            }
            #autoSettingsAD {
              position: absolute;
              top: -45px;
              left: 80px;
            }
            .radio-group {
              flex-direction: row;
              margin: 10px 0;
            }
            &.normal {
              .list-item {
                margin: 0;
                margin-right: 10px;
                input {
                  width: 20px;
                }
              }
            }
            &.long {
              .group {
                width: 100%;
              }
            }
            &.short {
              .group {
                width: 25%;
              }
            }
            &.steps-owner {
              .removePhoto {
                label {
                  display: inline-block;
                  margin-right: 5px;
                  margin-top: 15px;
                }
                i {
                  position: absolute;
                  margin-top: 13px;
                }
              }
              button.manage {
                position: absolute;
                top: -40px;
                right: 0;
              }
              .owner-type {
                position: absolute;
                top: -38px;
                left: 100px;
                flex-direction: row;
                .list-item {
                  margin: 0;
                  margin-right: 15px;
                }
                input {
                  width: 20px;
                }
              }
              .user-pic {
                width: 50%;
                .group,
                #ownerPhotoUpload {
                  width: 100%;
                  text-align: center;
                  input[name='file'] {
                    width: 95%;
                  }
                }
                img {
                  width: 200px;
                  height: 200px;
                  border-radius: 50%;
                  margin-top: 10px;
                  &.existing {
                    margin-top: 30px;
                  }
                }
              }
              .user-info {
                width: 50%;
                .group {
                  width: 100%;
                }
              }
            }
            &.steps-floor {
              padding: 0;
              button.manage {
                position: absolute;
                top: -40px;
                right: 0;
              }
              .floor-info {
                width: 100%;
                height: 450px;
                .tree {
                  float: left;
                  text-align: left;
                  width: 20%;
                  height: 100%;
                  background-color: var(--primaryContentBackground);
                  border-right: 1px solid var(--primaryBorder);
                }
                .map {
                  float: left;
                  width: 80%;
                  .c-gis {
                    min-height: 450px;
                  }
                }
              }
            }
            header {
              position: absolute;
              top: -40px;
              left: 0;
              color: var(--primaryContentHeader);
              font-size: 1.2em;
              font-weight: bold;
              .text,
              .status {
                float: left;
                margin-right: 15px;
              }
              .msg {
                font-size: 10px;
                color: var(--primaryTextColor);
                font-weight: normal;
                margin-top: 5px;
                display: block;
              }
            }
            button {
              &.last {
                position: absolute;
                top: -45px;
                right: 0;
                padding: .3em 1em;
              }
            }
            .toggle-btn {
              position: absolute;
              top: -40px;
              right: 0;
            }
            .group {
              width: 50%;
              padding: 5px;
              text-align: left;
              &.full {
                width: 100%;
              }
              &.multi {
                label {
                  span {
                    display: inline-block;
                    margin-left: 1%;
                  }
                }
                .fg-close {
                  background-color: var(--formBackground);
                }
              }
              label {
                text-align: left;
                color: var(--primaryContentHeader);
                font-size: .9em;
                display: block;
                margin-bottom: 3px;
                &.checkbox {
                  float: left;
                  margin-right: 5px;
                }
              }
              .flex-item {
                display: flex;
                flex-wrap: wrap;
                span {
                  color: #fff;
                  font-size: 14px;
                  margin: 3px 2px;
                  padding: 5px 10px;
                  border-radius: 5px;
                  background-color: var(--primaryContentHeader);
                }
              }
              .react-multi-email {
                display: flex;
                flex-wrap: wrap;
                background-color: var(--formBackground);
                [data-tag] {
                  font-size: 14px;
                  font-weight: normal;
                  color: #fff;
                  padding: 8px 10px;
                  margin: 2px;
                  background-color: var(--formEmailGroup);
                }
              }
              .ip-range-group,
              .scanner-group {
                .group {
                  width: auto;
                  .group-content {
                    width: 100%;
                    select,
                    input {
                      margin-right: 2.2%;
                    }
                    button {
                      padding: .3em 1em;
                    }
                  }
                }
              }
              .ip-range-group {
                .group {
                  select,
                  input {
                    width: 31.5%;
                  }
                }
              }
              .scanner-group {
                .group {
                  select,
                  input {
                    width: 27%;
                  }
                }
              }
            }
          }
          .steps-indicator { //For Config Topology Inventory page
            display: flex;
            justify-content: center;
            width: 70%;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 120px;
            .group {
              display: flex;
              width: 100%;
              &.group1 {
                width: 12%;
              }
            }
            .step {
              position: relative;
              width: 45px;
              height: 45px;
              text-align: center;
              border-radius: 50%;
              border: 3px solid var(--primaryBorder);
              cursor: default;
              &.active {
                color: #fff;
                background-color: var(--formEmailGroup);
                border: 3px solid var(--formEmailGroup);
              }
              .wrapper {
                width: 39px;
                height: 39px;
                border-radius: 50%;
                border: 2px solid #fff;
              }
              .number {
                position: absolute;
                top: 8px;
                left: 15px;
              }
              .text {
                position: absolute;
                color: var(--primaryTextColor);
                top: 55px;
                font-size: 14px;
                &.text1 {
                  left: -4px;
                }
                &.text2 {
                  left: -22px;
                }
                &.text3 {
                  left: -9px;
                }
                &.text4 {
                  left: -2px;
                }
              }
            }
            .line {
              width: 100%;
              height: 5px;
              margin-top: 21px;
              background-color: #ccc;
              &.active {
                background-color: var(--formEmailGroup);
              }
              &.line1 {
                display: none;
              }
            }
          }
        }
        .subtab-menu {
          li {
            font-size: 1.1em;
            font-weight: bold;
            padding: 15px;
          }
          .tabContent {
            display: none;
          }
        }
        footer { //For pagination in Table, LA and Maps
          min-height: 76px;
          padding: 20px;
          margin: 0;
          .dropdown-margin {
            margin-left: 50px;
          }
        }
        .table-content .table {
          height: 70vh;
          overflow-y: auto;
          span.loading {
            display: block;
            text-align: center;
            margin-top: 160px;
            .fg-loading-2 {
              font-size: 30px;
            }
          }
          .main-table {
            width: 100%;
            &.overflow-scroll {
              overflow-x: auto;
            }
            &.align-center {
              tbody td {
                text-align: center;
                padding-left: 0;
              }
            }
            &.with-pointer {
              tbody td {
                cursor: pointer;
              }
            }
            thead th {
              text-align: center;
            }
            tbody tr {
              height: 45px;
              &.red {
                color: #fff;
                background-color: #B80000;
                &:hover {
                  background-color: #B80000 !important;
                }
              }
              &.orange {
                color: #fff;
                background-color: #DB3E00;
                &:hover {
                  background-color: #DB3E00 !important;
                }
              }
              &.yellow {
                color: #fff;
                background-color: #FCCB00;
                &:hover {
                  background-color: #FCCB00 !important;
                }
              }
              &.green {
                color: #fff;
                background-color: #008B02;
                &:hover {
                  background-color: #008B02 !important;
                }
              }
              &.darkGreen {
                color: #fff;
                background-color: #006B76;
                &:hover {
                  background-color: #006B76 !important;
                }
              }
              &.blue {
                color: #fff;
                background-color: #1273DE;
                &:hover {
                  background-color: #1273DE !important;
                }
              }
              &.darkBlue {
                color: #fff;
                background-color: #004DCF;
                &:hover {
                  background-color: #004DCF !important;
                }
              }
              &.purple {
                color: #fff;
                background-color: #5300EB;
                &:hover {
                  background-color: #5300EB !important;
                }
              }
              &.grey {
                color: #fff;
                background-color: var(--tableActiveRow);
                &:hover {
                  background-color: var(--tableActiveRow) !important;
                }
              }
            }
            tbody td {
              text-align: left;
              padding-left: 30px;
              a {
                color: var(--primaryContentHeader);
                text-decoration: underline;
                &.no-underline {
                  text-decoration: none;
                }
                &.bold {
                  font-weight: bold;
                }
              }
              .flex-item {
                display: flex;
                flex-wrap: wrap;
              }
              span {
                a {
                  color: var(--primaryContentHeader);
                  text-decoration: underline;
                }
                &.link {
                  text-decoration: underline;
                  cursor: pointer;
                }
                // &.blue {
                //   color: #2164a0;
                // }
                // &.green {
                //   color: #2fb046;
                //   font-weight: bold;
                // }
                // &.orange {
                //   color: #f7af3a;
                //   font-weight: bold;
                // }
                // &.red {
                //   color: #d1152e;
                //   font-weight: bold;
                // }
                &.permit {
                  color: #fff;
                  font-size: 15px;
                  margin: 5px 2px;
                  padding: 5px 10px;
                  border-radius: 5px;
                  background-color: var(--primaryContentHeader);
                }
              }
              &.align-center {
                text-align: center;
              }
              &.c-info {
                cursor: text;
              }
              &._tableMenu_ {
                width: 1px;
              }
              &._severity_ {
                span.severity {
                  float: left;
                  color: #fff;
                  width: 90px;
                  margin-left: 20px;
                  padding: 2px;
                  text-align: center;
                  border-radius: 10px;
                }
              }
              &.description {
                span {
                  color: var(--primaryContentHeader);
                }
                button {
                  margin: 5px 0;
                }
              }
              &.scanInfo {
                li {
                  color: #d10d25;
                }
              }
              &.ipPort {
                img {
                  float: left;
                  margin-right: 5px;
                }
              }
            }
            button.no-pointer {
              cursor: text;
            }
            .file-html,
            .file-image {
              cursor: pointer;
            }
            .file-image {
              max-width: 200px;
              max-height: 100px;
            }
          }
        }
        .table-content .table.no-pagination {
          height: 78vh;
        }
        .table-content .table.normal {
          height: auto;
        }
        .content-header-btns {
          position: absolute;
          top: 5px;
          right: -5px;
          padding: .3em 1em;
          .btn { //For Buttons in content header
            margin: 0 3px;
            padding: .3em 1em;
            &.no-padding {
              padding: 0;
              a {
                padding: .3em 1em;
              }
            }
          }
        }
        .la-content {
          height: 78vh;
          overflow-y: auto;
          .c-la {
            width: 100%;
          }
        }
        .file-options { //For Events File page
          display: flex;
          margin: 25px 25px 15px 25px;
          .imgCheckBox {
            label {
              margin-right: 5px;
            }
          }
          .display-file-type {
            flex-direction: row;
            margin-left: 20px;
            & > div {
              margin: 0;
              margin-right: 10px;
            }
          }
        }
        .grid-flex { //For Events File page
          display: flex;
          flex-wrap: wrap;
          height: 62vh;
          margin: 15px 25px;
          overflow-x: auto;
          img {
            max-width: 200px;
            max-height: 100px;
            margin-right: 20px;
            margin-bottom: 30px;
            border: 1px solid var(--primaryBorder);
            cursor: pointer;
          }
        }
        .inventory-map { //For Config Network Inventory Map tab
          overflow: hidden;
          .tree {
            float: left;
            width: 20%;
            ul.c-tree {
              min-height: 80vh;
              border-right: 1px solid var(--primaryBorder);
            }
          }
          .map {
            float: left;
            text-align: center;
            width: 80%;
            padding-top: 80px;
            background-color: var(--formGroupBackground);
            min-height: 80vh;
          }
        }
        .csv-section {
          .csv-table {
            float: left;
            height: 78vh;
            width: 85%;
            overflow-y: auto;
            border-right: 1px solid var(--leftNavBackground);
          }
          .csv-dropdown {
            float: left;
            width: 15%;
            .group {
              padding: 10px 30px;
              label {
                display: block;
                color: var(--primaryContentHeader);
                margin-bottom: 5px;
              }
              select {
                width: 100%;
              }
            }
          }
          footer {
            position: absolute;
            right: 5px;
            bottom: 15px;
            padding: 0;
            button {
              margin: 0 5px;
            }
          }
        }
      }
    }
    .map-container { //For Config Topology Map page
      display: flex;
      min-height: 78vh;
      .left-nav {
        background-color: var(--primaryContentBackground);
        .tree-data {
          padding: 10px;
        }
      }
      .right-content {
        flex-grow: 1;
        .table-content .table {
          height: auto;
        }
        .content-area {
          text-align: center;
          padding: 20px;
          min-height: 60vh;
        }
      }
    }
  }
  .pagination { //TODO!
    label {
      margin-right: 5px;
    }
  }
  .map-tooltip { //For World map tooltip
    .key {
      color: var(--primaryContentHeader);
    }
    .value {
      color: #000;
    }
    .count {
      background-color: #d0021b;
      color: #fff;
      border-radius: 100%;
      font-size: 5px;
      padding: 2px;
    }
  }
  .privateIp-info { //For Config Topology Network Inventory
    background-color: var(--primaryContentBackground);
    min-height: 84vh;
    header {
      color: var(--primaryContentHeader);
      font-weight: bold;
      padding: 15px;
      border-bottom: 1px solid var(--primaryBorder);
      background-color: var(--primaryContentBackground);
    }
    .btn {
      &.edit {
        right: 15px;
      }
      &.list {
        right: 90px;
      }
    }
    .private {
      margin: 0 auto;
      padding: 20px 0;
      section {
        padding-right: 0 !important;
      }
    }
    .main-table {
      border-radius: 5px;
      width: 100%;
      overflow: hidden;
      thead tr {
        color: var(--primaryContentHeader);
      }
      tbody td:hover {
        cursor: text;
      }
      th, td {
        padding: 10px !important;
        border: 1px solid var(--primaryBorder) !important;
        white-space: pre-wrap;
      }
    }
  }
  .privateIp-info,
  .srcIp-content,
  .destIp-content { //For shared Alert Detials dialog and Config Network Inventory
    .private {
      section {
        position: relative;
        margin-bottom: 30px;
        padding-right: 10px;
        overflow: hidden;
        clear: both;
        &.last {
          margin-bottom: 0;
        }
        .header {
          font-size: 20px;
          color: var(--primaryContentHeader);
          margin-bottom: 15px;
          &.trigger {
            float: left;
            margin-right: 15px;
          }
        }
        .trigger-text {
          font-size: 14px;
          margin-top: 5px;
        }
        img.owner-pic {
          float: left;
          display: block;
          width: 20%;
          border-radius: 50%;
          margin-bottom: 20px;
          margin-right: 5%;
          margin-left: 5%;
        }
        .btn.trigger {
          position: absolute;
          top: 0 !important;
          right: 0;
        }
        table {
          &.ip,
          &.host,
          &.owner {
            td:nth-child(odd) {
              width: 200px;
            }
          }
          &.owner {
            float: left;
            width: 70%;
          }
        }
        .floor-map {
          position: relative;
          text-align: center;
          padding: 40px;
          background-color: var(--formGroupBackground);
          .floor-header {
            position: absolute;
            top: 10px;
          }
          .base-layers {
            display: none;
          }
          .c-gis {
            min-width: 99%;
            min-height: 400px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1350px) {
  #app-container {
    .privateIp-info {
      .private {
        width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  #app-container {
    .statistic .chart-group {
      flex-direction: column;
      .col {
        width: 100%;
      }
    }
    .privateIp-info {
      .private {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 1165px) {
  #app-container {
    .datepicker {
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width: 850px) {
  #app-container {
    .search-btns {
      float: left;
    }
  }
}