@charset"utf-8";

html, body, #app-container {
	color: rgb(51,51,51);
	font-family:"Segoe UI", "微軟正黑體", "新細明體";
	font-size: 1em;
	min-width: 720px;
}
main.main {
	min-height: 92vh;
}
footer.footer {
	padding: 2px 10px;
	font-size: .9em;
	&.login {
		position: absolute;
		color: #fff;
		bottom: 2px;
	}
}
/* Temporary Fix for Gis library bug */
.leaflet-marker-icon.gis-divIcon > div.gis-spot {
	margin-bottom: 0;
	padding-bottom: 12px;
}
/*******/
#language-menu {
	left: auto !important;
	top: 40px !important;
	right: 10px;
}
#g-login {
	input,
	select {
		color: #000 !important;
		background-color: #fff !important;
		border: 1px solid #ccc !important;
	}
	select {
		border: 1px solid #d9d9d9 !important;
	}
	button {
		color: #fff;
		border: 1px solid #d9d9d9 !important;
		background-color: #001b34 !important;
	}
}
#g-header {
	color: #ffffff;
	padding: 0 20px;
	height: 45px;
	background-color: #001b34;
	.title {
		position: absolute;
		font-size: 1.6em;
		font-weight: bold;
		letter-spacing: 1px;
		margin-bottom: 2px;
	}
	.main-nav {
		text-align: center;
		.item {
			padding: 12px 35px;
			&:hover {
				background-color: #1a3248;
			}
			&.active {
				background-color: #004d93;
				&:hover {
					opacity: .9;
				}
			}
		}
	}
	.account {
		position: absolute;
		font-size: 1.8em;
		top: 0;
		right: 15px;
	}
}
.c-button-group {
	&.left {
		float: left;
		margin-top: 1px;
	}
	&.right {
		float: right;
		margin-top: 1px;
	}
	.thumb {
		padding-left: 25px;
		padding-right: 25px;
		&:not(.selected):not(:disabled):hover {
			background: #fff;
		}
		&:first-child {
			border-radius: 4px 0 0 4px;
		}
		&:last-child {
			border-radius: 0 4px 4px 0;
		}
	}
	&.menu {
		.thumb {
			padding: 0;
			a {
				width: 100%;
				height: 100%;
				padding: 0.3em 0.5em;
				padding-left: 25px;
				padding-right: 25px;
			}
		}
	}
}
.c-contextmenu {
	position: absolute;
}
.c-hierarchy {
	background: none;
	&.tree {
		width: 100%;
		padding: 10px 5px;
		border-radius: 5px;
		background-color: #e6e6e6;
		.children .branch:last-child:before,
		.leaf:last-child:before {
			background-color: #e6e6e6;
		}
	}
}
.c-date-picker i.fg {
	height: 35px;
}
#g-progress.c-modal.spin > .dialog {
	border: none;
}
#language-menu {
	left: auto !important;
	top: 60px !important;
	right: 10px;
}
#areaMapUpload {
	width: 282px;
	button {
		font-size: 15px;
	}
}
#subTabMenu {
	margin-top: 10px;
	.tabContent {
		display: none;
	}
}
#eventsQueryMenu {
	z-index: 10000;
}
#g-home.c-flex > .fg-3 {
	flex-grow: 3;
}
#g-home.c-flex > .fg-7 {
	flex-grow: 7;
}
.leaflet-touch .leaflet-bar a:first-child {
	display: block !important;
}
#indicatorUpload,
#PcapUpload {
	width: 100%;
	margin-bottom: 100px;
	input {
		&[type="file"] {
			max-width: 535px;
		}
		&[type="text"] {
			width: 430px;
		}
	}
}
#eventsViewMenu {
	.disabled-tag-menu {
		cursor: not-allowed;
		opacity: 0.5;
	}
}
#gisMap {
	width: 100%;
	height: 86vh;
	&.full {
		height: 95vh;
	}
	&.fit {
		height: 71vh;
		overflow-y: auto;
	}
	.actions {
		display: none;
	}
	.leaflet-container {
		background: -webkit-linear-gradient(top, #021320, #03244b, #021320)
	}
}
#mainFilter,
#mainMark {
	padding: 5px 7px;
	background-color: #ededed;
	& > span {
		margin: 3px 0;
	}
	span {
		i.c-link {
			background-color: #fff;
		}
	}
	.filter-select {
		width: 215px;
	}
	.condition-select {
		width: 100px;
	}
	.filter-inputbox {
		width: 235px;
		height: 35px;
	}
	.mark-inputbox {
		width: 200px;
		height: 35px;
	}
	.fg-recode {
		float: left;
		width: 32px;
		padding: 5px 5px 6px 4px;
		margin-right: 3px;
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		&.red {
			color: #B80000;
		}
		&.yellow {
			color: #FCCB00;
		}
		&.green {
			color: #008B02;
		}
		&.darkGreen {
			color: #006B76;
		}
		&.blue {
			color: #1273DE;
		}
		&.orange {
			color: #DB3E00;
		}
		&.darkBlue {
			color: #004DCF;
		}
		&.purple {
			color: #5300EB;
		}
		&.soil {
			color: #C1B748;
		}
		&.brown {
			color: #660000;
		}
	}
}
#mainMark {
	.group:nth-child(10) {
		button {
			display: none;
		}
	}
}
#app-container {
	header.main-header {
		position: relative;
		color: #004d93;
		font-size: 1.1em;
		font-weight: bold;
		padding: 15px;
		border-bottom: 1px solid #ccc;
		background-color: #fff;
	}
	.sub-header {
		position: relative;
		color: #fff;
		padding: 3px 10px;
		overflow: hidden;
		background-color: #004d93;
    min-height: 42px;
		input:not([type=radio]), select {
			color: #000;
		}
		&.dashboard {
			.date-time {
				position: absolute;
				top: 8px;
				right: 15px;
				color: #fff;
			}
		}
		.c-button-group {
			button {
				color: #001b34;
				&.selected {
					color: #fff;
				}
			}
		}
		.search-options {
			position: absolute;
			#datetime-from,
			#datetime-to {
				width: 180px;
				padding: 0.5em;
			}
			label {
				&.datetime {
					display: inline-block;
					margin-right: 10px;
				}
			}
			.datepicker {
				position: relative;
				float: left;
			}
			.daterange {
				display: inline-block;
				margin-right: 15px;
			}
			.fg {
				border: none;
			}
			.search-type {
				float: left;
				margin-right: 10px;
			}
			.datepicker {
				margin-right: 0;
			}
			.search-button {
				margin-top: 2px;
			}
			.search-interval {
				float: left;
				.time-interval {
					background-color: #fff;
					width: 135px;
					height: 36px;
					box-shadow: none;
					cursor: pointer;
				}
			}
		}
	}
	.floor-map {
		img {
			&.crosshair {
				border: 4px dashed grey;
				cursor: crosshair;
			}
		}
		.leaflet-container {
			background: #fff;
		}
		.c-gis {
			min-height: 500px;
			& > .content > .base-layers,
			.actions {
				display: none;
			}
			.leaflet-control-zoom-in {
				display: block !important;
			}
		}
	}
	.table-menu {
		visibility: hidden;
		&.active {
			visibility: visible;
		}
		button {
			padding: .3em .5em;
			color: #4a4a4a;
			background-color: #fff;
		}
		&.inventory {
			i.fg {
				font-size: 26px;
				margin-right: 8px;
			}
		}
	}
	.table-cell {
		position: relative;
		.ip {
			img {
				margin-left: 10px;
			}
			.fg-network {
				margin-left: 5px;
			}
		}
		.fg-filter {
			visibility: hidden;
			margin-left: 5px;
			&.active {
				visibility: visible;
			}
		}
		span {
			&.red {
				color: #fff;
				background-color: #B80000;
			}
			&.yellow {
				color: #fff;
				background-color: #FCCB00;
			}
			&.green {
				color: #fff;
				background-color: #008B02;
			}
			&.darkGreen {
				color: #fff;
				background-color: #006B76;
			}
			&.blue {
				color: #fff;
				background-color: #1273DE;
			}
			&.orange {
				color: #fff;
				background-color: #DB3E00;
			}
			&.darkBlue {
				color: #fff;
				background-color: #004DCF;
			}
			&.purple {
				color: #fff;
				background-color: #5300EB;
			}
			&.soil {
				color: #fff;
				background-color: #C1B748;
			}
			&.brown {
				color: #fff;
				background-color: #660000;
			}
		}
	}
	.secondary-btn-group {
		&.left {
			float: left;
		}
		&.right {
			float: right;
			margin-top: 1px;
		}
		button {
			color: #001b34;
			padding: .3em .6em;
			margin-right: 5px;
			background-color: #fff;
			&.active {
				color: #fff;
				background-color: #001b34;
			}
			&.last {
				margin-right: 0;
			}
			.fg {
				float: left;
				&.fg-edit {
					margin-left: 5px;
				}
			}
			span {
				float: left;
			}
		}
		span {
			&.last-update {
				float: right;
				margin-top: 7px;
				margin-left: 5px;
			}
		}
	}
	.main-dashboard {
		min-height: 88vh;
		padding: 15px;
		background-color: #ededed;
		.charts {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			.chart-group {
				width: 24.4%; //32.64%
				margin: 5px;
				border: 1px solid #ccc;
				border-radius: 5px;
				overflow: hidden;
				&.bar {
					width: 74.25%; //65.8%
					height: 460px;
				}
				&.metric {
					height: 138px;
				}
				header {
					color: #004d93;
					font-size: 1.1em;
					font-weight: bold;
					padding: 15px;
					border-bottom: 1px solid #ccc;
					background-color: #fff;
				}
				.show-pointer table tbody tr {
					cursor: pointer;
				}
				.c-chart-pie {
					height: 345px;
				}
				.c-chart.table {
					height: 345px;
					overflow-y: auto;
				}
				.disk-usage {
					.item .value {
						color: #d0021b;
					}
				}
			}
		}
		.maps {
			position: relative;
			width: 100%;
			border: 1px solid #d9d9d9;
			border-radius: 5px;
			padding: 10px 5px;
			background-color: #fff;
			.c-button-group {
				margin: 5px 8px;
			}
			.floor-map {
				.drop-down {
					position: absolute;
					top: 14px;
					left: 200px;
					width: 145px;
				}
				& > .content {
					width: 100%;
					margin-top: 55px;
					overflow: hidden;
					padding-left: 10px;
					padding-right: 10px;
					ul {
						float: left;
						width: 330px;
						max-height: 77vh;
						overflow-y: auto;
						border-top: 1px solid #d9d9d9;
						border-right: 1px solid #d9d9d9;
						border-left: 1px solid #d9d9d9;
						li {
							position: relative;
							color: #5e5e5e;
							height: 70px;
							background-color: #fff;
							border-bottom: 2px solid #d9d9d9;
							cursor: pointer;
							&:hover {
								background-color: #e2ecfd;
							}
							.info {
								font-size: 18px;
								padding: 8px 10px;
								&.faded {
									color: #999;
								}
								span {
									display: block;
									margin-bottom: 2px;
								}
							}
							.count {
								position: absolute;
								top: 10px;
								right: 10px;
								width: 50px;
								padding: 2px;
								color: #fff;
								text-align: center;
								border-radius: 15px;
							}
						}
					}
					.map {
						float: left;
						width: 82%;
						text-align: center;
					}
				}
			}
		}
	}
	.main-statistic {
		height: 80vh;
		overflow-y: auto;
		background-color: #d9d9d9;
		.nav {
			flex-grow: 1;
			.fg.hide {
				visibility: hidden;
			}
			.select-all {
				color: #5b5b5b;
				font-weight: bold;
				padding: 7px 0;
				border-bottom: 1px solid #ccc;
				label {
					margin-left: 37px;
				}
				i.c-checkbox {
					position: absolute;
					left: 6px;
				}
			}
			.table-sort {
				padding: 5px 0;
				.table-sort-list {
					list-style-type: none;
					overflow: hidden;
					color: #5b5b5b;
					padding: 5px;
					background-color: #fff;
					border: 1px solid #ccc;
					z-index: 10000;
					user-select: none;
					&.statistic {
						border: none;
					}
					i.data-field {
						float: left;
						&.statistic {
							width: 10%;
						}
					}
					i.fg-menu {
						width: 28px;
						font-size: 26px;
						cursor: row-resize;
						&.statistic {
							position: absolute;
							right: 2px;
						}
						&.hide {
							visibility: hidden;
						}
					}
				}
			}
		}
		.content {
			flex-grow: 12;
		}
		.statistic {
			display: flex;
			flex-wrap: wrap;
			&.honeynet {
				margin-top: 0;
				padding-bottom: 30px;
				header {
					color: #004d93;
				}
			}
			.chart-group {
				width: 49.2%;
				margin: 5px;
				border: none;
				border-radius: 5px;
				overflow: hidden;
				header {
					color: #004d93;
					font-size: 1.1em;
					font-weight: bold;
					padding: 15px;
					border-bottom: 1px solid #ccc;
					background-color: #fff;
				}
				&.full-width {
					width: 100%;
				}
				.show-pointer table tbody tr {
					cursor: pointer;
				}
			}
		}
	}
	.flow-analysis {
		width: 100%;
		border: none;
		header.main {
			padding: 0;
			border: none;
		}
		.chart {
			flex-basis: 150px;
			height: 200px;
		}
		.export-btn {
			position: absolute;
			top: 10px;
			right: 25px;
		}
		.la-btn {
			position: absolute;
			top: 10px;
			right: 179px;
			&.zh {
				right: 160px;
			}
		}
		.search-textarea.filter-box {
			width: 450px;
		}
		.grid-flex {
			display: flex;
			flex-wrap: wrap;
			margin: 15px 25px;
			img {
				max-width: 200px;
				max-height: 100px;
				margin-right: 20px;
				margin-bottom: 30px;
				border: 1px solid #ccc;
				cursor: pointer;
			}
		}
	}
	.data-content {
		display: flex;
		min-height: 88vh;
		.left-nav {
			position: relative;
			flex-grow: 0;
			flex-shrink: 0;
			width: 360px;
			min-width: 15px;
			border-right: 1px solid #d9d9d9;
			background-color: #d9d9d9;
			&.tree {
				padding: 10px 25px 10px 10px;
				&.collapse {
					width: 0;
					padding: 0;
				}
			}
			.main-content {
				overflow-y: auto;
				max-height: 85vh;
				padding-right: 10px;
			}
			.expand-collapse {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 15px;
				background-color: #E4E4E4;
				border-left: 1px solid #d9d9d9;
				cursor: pointer;
				.fg {
					position: absolute;
					top: 380px;
					left: -5px;
					color: #666;
					font-size: 1.5em;
				}
			}
			.header-text {
				color: #004d93;
				font-size: .9em;
				padding: 5px 10px;
				margin-top: 0;
				margin-bottom: 0;
				&.hide {
					display: none;
				}
			}
			label {
				display: block;
				margin: 15px 0 3px 0;
				&.first-label {
					margin-top: 0;
				}
				&.inline-display {
					float: left;
					margin-right: 10px;
					& + .c-checkbox {
						float: left;
						margin-top: 14px;
						& + label {
							clear: both;
						}
					}
				}
			}
			input,
			select,
			.c-combobox {
				width: 100%;
			}
			.c-hierarchy {
				.button {
					display: none;
					padding: .1em .5em;
					font-size: .5em;
					&.active {
						display: inline-block;
					}
				}
			}
			.content-area {
				padding: 20px 10px;
			}
			.analysis-type {
				margin-bottom: 10px;
			}
			&.account {
				label {
					font-size: 1em;
					margin-top: 0;
				}
			}
			.frame,
			.subframe {
				cursor: pointer;
				a {
					display: block;
					width: 100%;
					height: 100%;
				}
				&:hover {
					background-color: #e2ecfd;
				}
			}
			.frame {
				position: relative;
				width: 100%;
				height: 50px;
				border-bottom: 1px solid #ccc;
				background-color: #fff;
				&.last {
					border-bottom: 0;
				}
				span {
					display: block;
					font-weight: bold;
					padding-top: 10px;
					padding-left: 15px;
					&.true {
						color: #004d93;
					}
				}
				.fg-arrow-top,
				.fg-arrow-bottom {
					position: absolute;
					top: 10px;
					right: 10px;
				}
			}
			.subframe {
				width: 100%;
				height: 50px;
				background-color: #e8e9ed;
				span {
					display: block;
					padding-top: 15px;
					padding-left: 20px;
					&.true {
						color: #004d93;
					}
				}
			}
		}
		.data-table {
			flex-grow: 1;
			overflow-x: auto;
			overflow: hidden;
			white-space: nowrap;
			background-color: #ededed;
			.main-filter,
			.main-mark,
			.main-chart {
				position: relative;
				display: none;
				&.active {
					display: block;
				}
				& > .fg-close {
					position: absolute;
					top: 5px;
					right: 5px;
					cursor: pointer;
				}
			}
			.main-filter,
			.main-mark {
				padding: 5px 10px 10px 10px;
				border-bottom: 1px solid #ccc;
				background-color: #fff;
				overflow: hidden;
				.filter-section,
				.mark-section {
					background-color: #ededed;
				}
				.button-group {
					margin-bottom: 5px;
					display: block;
					.open-query,
					.save-query {
						font-size: 15px;
						color: #001b34;
						margin: 5px;
						padding: 0;
						background: none;
						padding: 0 10px;
					}
					.clear,
					.filter {
						float: right;
						margin-top: 5px;
						margin-left: 5px;
						padding: .2em 1em;
						font-size: 14px;
					}
					.clear {
						color: #000;
						background-color: #fff;
					}
				}
			}
			.main-filter {
				.header-text {
					float: left;
					margin-top: 5px;
					margin-right: 5px;
					color: #004d93;
				}
				.button-group.open-query {
					position: absolute;
					top: 5px;
					left: 47px;
				}
				.filter-section {
					display: flex;
					flex-wrap: wrap;
					margin-top: 37px;
					&.config {
						padding: 5px;
						.group {
							padding: 5px;
							label {
								display: block;
							}
							input,
							select {
								width: 185px;
							}
							&.hmd {
								padding-top: 30px;
								padding-left: 15px;
								label {
									float: left;
									margin-right: 5px;
								}
							}
						}
					}
				}
			}
			.main-mark {
				.header-text {
					color: #004d93;
					margin-bottom: 8px;
				}
			}
			.main-chart {
				border-bottom: 1px solid #ccc;
				.chart-content {
					background-color: #fff;
					&.connections {
						padding-left: 10px;
						padding-bottom: 20px;
					}
					.placeholder {
						visibility: hidden;
						height: 52px;
					}
					.chart-btn {
						margin-right: 10px;
					}
				}
				.chart-btn,
				.interval-btn {
					display: inline-block;
					margin-top: 20px;
					.thumb {
						padding-left: 10px;
						padding-right: 10px;
					}
				}
				.time-bar {
					display: none; //temporary
					float: right;
					width: 500px;
					margin-right: 40px;
					margin-top: 15px;
				}
				.bar-chart {
					//margin-top: 70px; //temporary
					background-color: #fff;
					.error {
						padding: 0px 10px 15px 10px;
					}
				}
			}
			&.manage {
				width: 80%;
				margin: 10px;
				border: 1px solid #ccc;
				border-radius: 5px;
				overflow-x: auto;
				&.wide-width {
					width: auto;
				}
				&.scroll-y {
					overflow-y: auto;
				}
			}
			.main-content {
				position: relative;
				margin: 15px;
				border-radius: 5px;
				background-color: #ededed;
				border: 1px solid #d9d9d9;
				overflow: hidden;
				.subtab-menu {
					.tabContent {
						display: none;
					}
					li {
						padding: 15px 20px 5px 20px;
					}
				}
				footer {
					padding: 20px;
					margin: 0;
					.dropdown-margin {
						margin-left: 50px;
					}
				}
				.table-content .table {
					height: 71vh;
					overflow-y: auto;
					&.no-fixed {
						height: auto;
					}
					.main-table {
						width: 100%;
						&.overflow-scroll {
							overflow-x: auto;
						}
						thead th {
							text-align: center;
						}
						tbody tr {
							height: 45px;
							&.red {
								color: #fff;
								background-color: #B80000;
								&:hover {
									background-color: #B80000 !important;
								}
							}
							&.orange {
								color: #fff;
								background-color: #DB3E00;
								&:hover {
									background-color: #DB3E00 !important;
								}
							}
							&.yellow {
								color: #fff;
								background-color: #FCCB00;
								&:hover {
									background-color: #FCCB00 !important;
								}
							}
							&.green {
								color: #fff;
								background-color: #008B02;
								&:hover {
									background-color: #008B02 !important;
								}
							}
							&.darkGreen {
								color: #fff;
								background-color: #006B76;
								&:hover {
									background-color: #006B76 !important;
								}
							}
							&.blue {
								color: #fff;
								background-color: #1273DE;
								&:hover {
									background-color: #1273DE !important;
								}
							}
							&.darkBlue {
								color: #fff;
								background-color: #004DCF;
								&:hover {
									background-color: #004DCF !important;
								}
							}
							&.purple {
								color: #fff;
								background-color: #5300EB;
								&:hover {
									background-color: #5300EB !important;
								}
							}
							&.grey {
								color: #fff;
								background-color: #999;
								&:hover {
									background-color: #999 !important;
								}
							}
						}
						tbody td {
							text-align: left;
							padding-left: 30px;
							cursor: pointer;
							&.align-center {
								text-align: center;
							}
							&.c-info {
								cursor: text;
							}
							a {
								text-decoration: underline;
								&.no-underline {
									text-decoration: none;
								}
							}
							&._tableMenu_ {
								width: 1px;
							}
							&.Severity {
								span {
									display: block;
									color: #fff;
									width: 70px;
									margin-left: 20px;
									padding: 2px;
									text-align: center;
									border-radius: 10px;
								}
							}
							.button {
								//text-align: center;
								button {
									margin-top: 15px;
									padding-right: 25px;
									padding-left: 15px;
									background-color: #fff;
									color: #585858;
									&.status {
										border: none;
										background: none;
										cursor: text;
									}
									i {
										float: left;
										padding-top: 2px;
										font-size: 1.6em;
									}
									span {
										float: right;
										margin-left: 20px;
										margin-top: 4px;
										&.status {
											margin-left: 5px;
										}
									}
								}
								& > div, & > span {
									color: #a6a6a6;
									font-size: .9em;
								}
								& > div > span {
									display: inline-block;
									margin-right: 5px;
								}
								& > span {
									display: block;
								}
							}
							span {
								a {
									color: #185e9e;
									text-decoration: underline;
								}
								&.permit {
									margin: 5px;
									border: 1px solid #ccc;
									border-radius: 90px;
									background-color: #004d93;
									color: white;
									padding: 5px 10px;
								}
								&.link {
									text-decoration: underline;
									cursor: pointer;
								}
								&.blue {
									color: #2164a0;
								}
								&.green {
									color: #2fb046;
									font-weight: bold;
								}
								&.orange {
									color: #f7af3a;
									font-weight: bold;
								}
								&.red {
									color: #d1152e;
									font-weight: bold;
								}
								&.task-count {
									color: #185e9e;
									font-weight: bold;
									text-decoration: underline;
									cursor: pointer;
								}
							}
						}
						&.align-center {
							tbody td {
								text-align: center;
								padding-left: 0;
							}
						}
						&.no-pointer {
							tbody td {
								cursor: text;
							}
						}
						&.fixed-header {
							position: relative;
						}
						button.no-pointer {
							cursor: text;
						}
						.file-image {
							max-width: 200px;
							max-height: 100px;
						}
						&.timeline {
							width: 50%;
							margin: 0 auto;
							.ip {
								text-align: right;
								padding: 0;
							}
						}
					}
				}
				.table-content .table.normal {
					height: auto;
				}
				.btn {
					position: absolute;
					top: 5px;
					padding: .3em 1em;
					&.notification {
						right: 15px;
					}
				}
				.la-content {
					height: 80vh;
					overflow-y: auto;
					.c-la {
						width: 100%;
					}
				}
				.file-options {
					display: flex;
					margin: 25px 25px 15px 25px;
					.imgCheckBox {
						label {
							margin-right: 5px;
						}
					}
					.display-file-type {
						flex-direction: row;
						margin-left: 20px;
						& > div {
							margin: 0;
							margin-right: 10px;
						}
					}
				}
				&.add-ip-steps {
					background-color: #fff;
					min-height: 85vh;
					input,
					select,
					textarea {
						width: 100%;
					}
					footer {
						position: absolute;
						bottom: 0;
						width: 100%;
						text-align: right;
						padding: 15px;
						border-top: 1px solid #ccc;
						button {
							margin: 0 5px;
						}
					}
					.steps-indicator {
						display: flex;
						justify-content: center;
						width: 70%;
						margin: 0 auto;
						margin-top: 40px;
						.group {
							display: flex;
							width: 100%;
							&.group1 {
								width: 13%;
							}
						}
						.step {
							position: relative;
							width: 45px;
							height: 45px;
							padding: 7px 14px;
							text-align: center;
							border-radius: 50%;
							border: 4px solid #ccc;
							cursor: default;
							&.active {
								color: #fff;
								background-color: #004d99;
								border: 4px solid #004d99;
							}
							.text {
								position: absolute;
								color: #4a4a4a;
								top: 55px;
								font-size: 14px;
								&.text1 {
									left: -4px;
								}
								&.text2 {
									left: -22px;
								}
								&.text3 {
									left: -9px;
								}
								&.text4 {
									left: -2px;
								}
							}
						}
						.line {
							width: 100%;
							height: 5px;
							margin-top: 21px;
							background-color: #ccc;
							&.active {
								background-color: #004d99;
							}
							&.line1 {
								display: none;
							}
						}
					}
					.steps {
						position: relative;
						display: flex;
						flex-wrap: wrap;
						justify-content: left;
						text-align: center;
						margin: 0 auto;
						margin-top: 120px;
						width: 70%;
						padding: 10px 10px 15px 10px;
						background-color: #f2f2f2;
						border: 1px solid #ccc;
						border-radius: 5px;
						header {
							position: absolute;
							top: -40px;
							left: 0;
							color: #185e9e;
							font-size: 1.2em;
							font-weight: bold;
						}
						&.steps-owner {
							.owner-type {
								position: absolute;
								top: -38px;
								left: 100px;
								flex-direction: row;
								.list-item {
									margin: 0;
									margin-right: 15px;
								}
								input {
								width: 20px;
								}
							}
							.user-pic {
								width: 50%;
								.group,
								#ownerPhotoUpload {
									width: 100%;
								}
								img {
									width: 200px;
									height: 200px;
									border-radius: 50%;
									margin-top: 10px;
									&.existing {
										margin-top: 30px;
									}
								}
							}
							.user-info {
								width: 50%;
								.group {
									width: 100%;
								}
							}
						}
						.group {
							width: 50%;
							padding: 5px;
							label {
								text-align: left;
								color: #185e9e;
								font-size: .9em;
								display: block;
								margin-bottom: 3px;
							}
							span {
								text-decoration: underline;
								cursor: pointer;
							}
						}
						&.steps-address {

						}
						&.steps-host {

						}
						&.steps-owner {

						}
						&.steps-floor {

						}
					}
				}
			}
		}
		.right-content {
			flex-grow: 1;
			&.center {
				overflow-x: auto;
				overflow: hidden;
				white-space: nowrap;
			}
			.content-area {
				text-align: center;
				padding: 20px;
				min-height: 300px;
			}
			.data-table {
				background: none;
				.main-content {
					margin: 0 10px 10px 0;
					border: 1px solid #ccc;
					background: none;
				}
			}
		}
		.floor-plan,
		.floor-map {
			margin: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background: none;
			header {
				.fg-edit,
				.fg-trashcan {
					position: absolute;
					right: 15px;
				}
			}
			.fg-add.border,
			.fg-edit,
			.fg-map,
			.fg-trashcan,
			.fg-fullscreen-exit {
				top: 12px;
				color: #4a4a4a;
				font-size: 1.5em;
				padding: 2px;
				border: 1px solid #ccc;
				border-radius: 5px;
			}
		}
		.floor-map {
			margin-left: 0;
			&.employee-record {
				margin: 0;
				border: none;
				header {
					position: relative;
					text-align: left;
					.title {
						position: relative;
						width: 285px;
					}
				}
				.content-area {
					text-align: center;
				}
				.fg-fullscreen-exit {
					position: absolute;
					top: 8px;
					right: 15px;
					cursor: pointer;
				}
				.c-gis {
					min-width: 300px;
					min-height: 300px;
					.content {
						width: 300px;
						height: 300px;
					}
				}
			}
		}
	}
	.pagination {
		label {
			margin-right: 5px;
		}
	}
	.search-bar {
		text-align: left;
		margin: 10px;
		.datepicker {
			position: relative;
			margin-top: 10px;
			background-color: #d8d8d8;
			padding: 10px;
			button {
				position: absolute;
				top: 10px;
				left: 495px;
			}
		}
	}
	.map-tooltip {
		.key {
			color: #004d93;
		}
		.value {
			color: #000;
		}
		.count {
			background-color: #d0021b;
			color: #fff;
			border-radius: 100%;
			font-size: 5px;
			padding: 2px;
		}
	}
	.safety-scan-content {
		overflow: hidden;
		max-height: 362px;
		overflow-y: auto;
		border: 1px solid #ccc;
		.nav {
			float: left;
			width: 180px;
			min-height: 360px;
			background-color: #fff;
			border-right: 1px solid #ccc;
			li {
				font-size: 12px;
				padding-top: 5px;
				padding-bottom: 5px;
				overflow: hidden;
				border-bottom: 1px solid #ccc;
				span {
					padding: 10px;
					display: block;
					cursor: pointer;
					&.name {
						float: left;
						color: #000;
					}
					&.count {
						float: right;
						font-size: 10px;
					}
				}
			}
		}
		.content {
			position: relative;
			float: left;
			width: 500px;
			.updates {
				margin-top: 6px;
				margin-bottom: 20px;
			}
			button {
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
	}
	.privateIp-info {
		background-color: #fff;
		header {
			color: #004d93;
			font-weight: bold;
			padding: 15px;
			border-bottom: 1px solid #ccc;
			background-color: #fff;
		}
		.btn {
			top: 12px !important;
			&.edit {
				right: 15px;
			}
			&.list {
				right: 90px;
			}
		}
		.private {
			width: 50%;
			margin: 0 auto;
			padding: 20px 0;
			section {
				padding-right: 0 !important;
				table.owner {
					width: 70% !important;
				}
			}
		}
		.main-table {
			border-radius: 5px;
			width: 100%;
			overflow: hidden;
			thead tr {
				color: #185e9e;
			}
			tbody td:hover {
				cursor: text;
			}
			th, td {
				padding: 10px !important;
				border: 1px solid #ccc !important;
			}
		}
	}
	.privateIp-info,
	.srcIp-content,
	.destIp-content {
		.private {
			section {
				margin-bottom: 30px;
				padding-right: 10px;
				overflow: hidden;
				clear: both;
				.header {
					font-size: 20px;
					color: #185e9e;
					margin-bottom: 15px;
				}
				img.owner-pic {
					float: left;
					display: block;
					width: 150px;
					height: 150px;
					border-radius: 50%;
					margin-bottom: 20px;
					margin-right: 5%;
					margin-left: 5%;
				}
				table {
					&.ip,
					&.host {
						td:nth-child(odd) {
							width: 32%;
						}
					}
					&.owner {
						float: left;
						width: 67%;
					}
				}
				.floor-map {
					text-align: center;
					.c-gis {
						min-width: 99%;
						min-height: 400px;
					}
				}
			}
		}
	}
	.inventory-map {
		overflow: hidden;
		.tree {
			float: left;
			width: 20%;
			ul.c-tree {
				min-height: 80vh;
				border-right: 1px solid #ccc;
			}
		}
		.map {
			float: left;
			text-align: center;
			width: 80%;
			padding-top: 80px;
			background-color: #f2f2f2;
			min-height: 80vh;
		}
	}
}

@media only screen and (max-width: 1280px) {
	#app-container .statistic .chart-group {
		flex-direction: column;
		.col {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1165px) {
	#app-container {
		.datepicker {
			margin-bottom: 10px;
		}
	}
}

@media only screen and (max-width: 850px) {
	#app-container {
		.search-btns {
			float: left;
		}
	}
}