html {
  --primaryTextColor: #4a4a4a;
  --primaryBorder: #d9d9d9;
  --lmsConfig: #333;
  --formBackground: #fff;
}
html[data-theme='dark'] {
  --primaryTextColor: #fff;
  --primaryBorder: #4b4b4b;
  --lmsConfig: #fff;
  --formBackground: #474747;
}

#g-login {
  width: 100%;
  background: linear-gradient(to top, #001549, #72aaff);
  background-image: url('/SCP/images/scp-bg.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  &.config {
    position: relative;
    background: none;
  }
  input,
  select {
    color: var(--primaryTextColor);
    border: 1px solid var(--primaryBorder);
  }
  select {
    border: 1px solid var(--primaryBorder);
  }
  #title, #form {
    width: 400px;
  }
  #title {
    color: #fff;
    margin-bottom: 5px;
    img {
      float: left;
      margin-right: 10px;
      margin-top: 12px;
    }
    .title {
      font-size: 2em;
    }
    .subtitle {
      margin-left: 5px;
      font-size: 1.5em;
    }
  }
  #form {
    padding: 30px 30px 20px 30px;
    background-color: #fff;
    color: #333;
    &, input, button {
      border-radius: 5px;
    }
    button {
      display: block;
      width: 100%;
      padding: 8px 43px;
      &.multiple-btn {
        margin-bottom: 10px;
      }
    }
    .login-group {
      margin-bottom: 25px;
    }
    .first-time {
      font-size: 15px;
      color: #004d93;
      text-align: right;
      margin-top: 10px;
      cursor: pointer;
    }
    .error-msg {
      min-height: 20px;
    }
  }
  #g-footer {
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .lms {
    &.config {
      color: var(--lmsConfig);
    }
    section {
      margin-bottom: 25px;
      .msg {
        margin-right: 10px;
      }
      .error {
        color: red;
      }
    }
    .key-field {
      margin-bottom: 25px;
    }
    #newKey {
      float: left;
      margin-right: 5px;
    }
  }
}
#g-user-resetPwd {
  .accounts-size-frame {
    min-width: 450px;
  }
  .accounts-style-form {
    width: 100%;
    height: 40px;
    resize: vertical;
    margin-bottom: 15px;
    &.invalid {
      border-color: #D0021B;
    }
  }
}