html {
  --primaryContentHeader: #185e9e;
  --primaryTextColor: #4a4a4a;
  --primaryContentBackground: #fff;
  --primaryBorder: #d9d9d9;

  --alertInfoBckground: #f7f7f7;
  --linkColor: #004d93;
  --deleteMsg: #d62238;

  --mainListColor: #4e4d4e;
  --mainListHover: #e2ecfd;
  --subFrameColor: #e8e9ed;
  --contentBackground: #f5f5f5;
  --buttonSelectedColor: #001b34;

  --formBackground: #fff;
  --formInputBorderColor: #d9d9d9;
  --formGroupBackground: #f2f2f2;

  --paginationBtnColor: #5b5b5b;
  --paginationBtnBackground: #fff;

  --relationshipBackground: #e3f2f9;
}
html[data-theme='dark'] {
  --primaryContentHeader: #069bda;
  --primaryTextColor: #fff;
  --primaryContentBackground: #1f1e1e;
  --primaryBorder: #4b4b4b;

  --alertInfoBckground: #333;
  --linkColor: #069bda;
  --deleteMsg: #fff;

  --mainListColor: #fff;
  --mainListHover: #000;
  --subFrameColor: #0f0f0f;
  --contentBackground: #1f1e1e;
  --buttonSelectedColor: #069bda;

  --formBackground: #474747;
  --formInputBorderColor: #474747;
  --formGroupBackground: #333;

  --paginationBtnColor: #fff;
  --paginationBtnBackground: #1a668c;

  --relationshipBackground: #1f1e1e;
}

.c-modal {
  .c-table {
    thead tr {
      color: var(--primaryContentHeader);
      background-color: var(--primaryContentBackground);
    }
  }
  .c-box {
    & > header > i {
      color: var(--primaryTextColor);
    }
    & > header:not(.legend) {
      border-bottom: 1px solid var(--primaryBorder);
    }
  }
}
.c-gis {
  min-height: 500px;
  .actions {
    display: none;
  }
  .leaflet-control-zoom-in {
    display: block !important;
  }
}
.leaflet-container {
  background: #fff;
}
.table-sort-list {
  list-style-type: none;
  overflow: hidden;
  color: var(--primaryTextColor);
  padding: 5px;
  background-color: var(--primaryContentBackground);
  border: 1px solid var(--primaryBorder);
  z-index: 10000;
  user-select: none;
  .fg-filter,
  .fg-edit {
    float: left;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .fg-edit {
    margin-right: 2px;
  }
  i.data-field {
    float: left;
    &.flow {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  span {
    a {
      text-decoration: underline;
    }
    &.key {
      font-weight: bold;
      float: left;
      width: 18%;
      display: inline-block;
    }
    &.value {
      float: left;
      width: 68%;
      word-wrap: break-word;
      .value-input {
        color: var(--primaryTextColor);
        background-color: var(--primaryContentBackground);
        border: none;
        padding: 0;
      }
    }
  }
  i.fg-menu {
    width: 28px;
    font-size: 26px;
    cursor: row-resize;
    &.flow {
      float: right;
    }
  }
}
#areaMapUpload {
  input {
    margin-bottom: 1px !important;
  }
}
.modal-dialog {
  .content {
    padding: 10px;
  }
  .button-group {
    margin: 10px;
  }
}
#modalWindowSmall {
  #modalWindowSmall-dialog {
    footer button {
      margin: 0 5px;
    }
  }
  #modalWindowSmall-content {
    min-width: 300px;
    text-align: center;
    .align-center {
      margin-top: 30px;
    }
    .main-table {
      margin: 0 auto;
    }
    .content {
      margin: 25px 0;
      text-align: center;
      &.small-margin {
        margin: 10px 0;
      }
      &.align-left {
        text-align: left;
      }
      &.delete {
        span {
          display: block;
          color: var(--deleteMsg);
        }
      }
      li {
        margin-bottom: 20px;
      }
    }
    button {
      margin-top: 10px;
    }
    table.pattern {
      span {
        color: red;
      }
    }
  }
  footer {
    text-align: center;
  }
}
.modal-dialog,
#viewJsonDialog-dialog {
  .json-data {
    overflow-y: auto;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    height: 680px;
    & > li {
      padding: 5px 10px;
      ul {
        background: none !important;
      }
    }
  }
  .pagination {
    position: fixed;
    width: 300px;
    bottom: 10px;
    .buttons {
      button {
        color: var(--paginationBtnColor);
        background-color: var(--paginationBtnBackground);
        float: left;
        margin-right: 10px;
        margin-top: 10px;
      }
    }
    .count {
      float: left;
      background-color: #d0021b;
      color: #fff;
      border-radius: 50%;
      font-size: 5px;
      margin-top: 12px;
      padding: 5px;
    }
  }
  footer {
    .c-info {
      color: #da364a;
    }
  }
}
.modal-dialog {
  padding: 0;
  header {
    font-size: 1.2em;
    color: var(--primaryContentHeader);
    font-weight: bold;
    padding: 15px;
  }
  .content {
    color: var(--primaryTextColor);
    label {
      display: block;
      margin-bottom: 3px;
      span {
        color: #da364a;
      }
    }
    input,
    select,
    textarea {
      width: 100%;
      &.add {
        margin-bottom: 15px;
      }
    }
    textarea {
      border: 1px solid var(--primaryBorder);
    }
    .c-combobox {
      width: 100%;
    }
    &.delete {
      span {
        display: block;
        color: var(--deleteMsg);
        margin-top: 10px;
      }
    }
  }
  select {
    width: 100%;
  }
  .button-group {
    button {
      min-width: 125px;
    }
  }
  .json-data {
    &.alert {
      height: 375px;
      border: none;
      & > li {
        padding: 0;
      }
    }
    & > li {
      span {
        a {
          text-decoration: underline;
        }
        &.key {
          font-weight: bold;
          float: left;
          width: 25%;
          display: inline-block;
          &.short {
            width: 15%;
          }
        }
        &.value {
          float: right;
          width: 75%;
          &.long {
            width: 85%;
          }
        }
      }
      &.border {
        border-bottom: 1px solid var(--primaryBorder);
      }
    }
  }
  .pcap-content {
    .filter-empty {
      width: 200px;
      margin-bottom: 10px;
      label {
        margin-right: 5px;
      }
    }
    .pcap {
      display: flex;
      justify-content: space-between;
      .list {
        font-size: 16px;
        li {
          margin-bottom: 5px;
          &.active {
            color: var(--linkColor);
            text-decoration: underline;
            cursor: pointer;
          }
          i {
            float: right;
            margin-top: 1px;
            color: grey;
          }
        }
      }
      .data {
        textarea {
          background-color: #fff;
          color: #666;
        }
      }
    }
    footer {
      display: flex;
      justify-content: center;
      margin: 5px;
    }
  }
}
/* events/netflow/index */
/* events/syslog/index */
#viewJsonDialog-dialog {
  header {
    font-size: 1.2em;
    color: var(--primaryContentHeader);
    background-color: var(--primaryContentBackground);
    font-weight: bold;
    padding: 15px;
  }
  footer {
    padding: 10px;
  }
  #viewJsonDialog-content {
    width: 1000px;
  }
}
/* events/netflow/index */
#flowModalDialog-content {
  width: 1000px;
}
/* events/netflow/index */
#pcapModalDialog-dialog {
  .standard {
    display: none;
  }
}
/* events/netflow/index */
#pcapModalDialog-content {
  width: 700px;
  .pcap {
    min-height: 270px;
    textarea {
      width: 550px;
      height: 260px;
    }
  }
}
/* events/netflow/index */
#tagModalDialog-content {
  width: 400px;
  .github-picker {
    float: left;
    margin-right: 10px;
  }
  .group {
    float: left;
  }
  .color-box {
    float: left;
    width: 60px;
    height: 30px;
    margin-top: 4px;
    border-radius: 5px;
    &.red {
      background-color: #B80000;
    }
    &.orange {
      background-color: #DB3E00;
    }     
    &.yellow {
      background-color: #FCCB00;
    }
    &.green {
      background-color: #008B02;
    }
    &.darkGreen {
      background-color: #006B76;
    }
    &.blue {
      background-color: #1273DE;
    }
    &.darkBlue {
      background-color: #004DCF;
    }
    &.purple {
      background-color: #5300EB;
    }
  }
}
/* events/endpoint/index */
#addTaskDialog-content {
  max-height: 550px;
  min-width: 400px;
}
/* configuration/notifications/index */
#testEmailDialog-content {
  width: 500px;
  padding: 20px 20px 25px 20px;
  .react-multi-email {
    display: flex;
    flex-wrap: wrap;
    [data-tag] {
      font-size: 14px;
      font-weight: normal;
      color: #fff;
      padding: 8px 10px;
      margin: 2px;
      background-color: #004d99;
    }
  }
}
/* configuration/topology/inventory */
/* configuration/common/alert-details */
#dashboardModalDialog-content,
#configScanModalDialog-content {
  #g-progress-container {
    .fg-loading-2 {
      display: block;
      text-align: center;
    }
  }
  .main-table {
    thead {
      border-top: 1px solid var(--primaryBorder);
      tr {
        color: var(--primaryContentHeader);
        background-color: var(--primaryContentBackground);
      }
    }
    tbody {
      tr.align-center td {
        text-align: center;
      }
    }
    span[title] {
      cursor: default;
    }
  }
  .scan-info {
    overflow: hidden;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    background-color: var(--formGroupBackground);
    .sync-status {
      margin-bottom: 10px;
      background-color: #d9d9d9;
      color: #d10d25;
      border-radius: 5px;
      padding: 5px;
      .fg-alert-1 {
        float: left;
      }
    }
    .info-content {
      overflow: hidden;
      clear: both;
      .info {
        position: relative;
        height: 50px;
        padding-top: 15px;
        overflow: hidden;
        .last-update {
          float: right;
          margin-top: 5px;
        }
        .btn {
          float: right;
          margin-left: 10px;
          padding: .3em .5em;
        }
      }
      .table {
        overflow-y: auto;
        .gcb_CceId,
        .gcb_Type,
        .gcb_CompareResult {
          min-width: 120px;
          text-align: center;
        }
        .scan-file_Filesize,
        .scan-file_IsPE,
        .scan-file_IsPEextension,
        .scan-file_IsVerifyTrust,
        .hostIdArrCnt {
          min-width: 140px;
          text-align: center;
        }
        .empty-msg {
          margin-top: 10px;
        }
      }
      .scan-content {
        margin-top: 10px;
        border-top: 2px solid var(--primaryBorder);
        border-bottom: 2px solid var(--primaryBorder);
        & > .header {
          color: var(--primaryContentHeader);
          font-weight: bold;
          padding: 5px 10px;
        }
        .empty-msg {
          margin: 5px 0 5px 10px;
        }
        .list {
          overflow-y: auto;
          .group {
            border-top: 1px solid var(--primaryBorder);
            .path {
              padding: 5px 10px 8px 10px;
              color: var(--primaryTextColor);
              background-color: var(--primaryContentBackground);
              cursor: pointer;
              i.fg {
                float: left;
                margin-right: 10px;
                border: 1px solid var(--primaryBorder);
                border-radius: 5px;
                &.rotate {
                  transform: rotate(180deg);
                }
              }
            }
            .rule {
              padding: 5px 45px;
              border-top: 1px solid var(--primaryBorder);
              .rule-content {
                margin-bottom: 2px;
                .header,
                .tree-content {
                  position: relative;
                  width: 100%;
                  cursor: default;
                }
                .header {
                  color: var(--primaryContentHeader);
                  span {
                    padding-left: 18px;
                    display: inline-block;
                    cursor: pointer;
                  }
                  .fg-play {
                    position: absolute;
                    top: 2px;
                    cursor: pointer;
                    &.rotate {
                      transform: rotate(90deg);
                    }
                  }
                }
                .sub-content {
                  padding-left: 20px;
                  &.flex {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 10px;
                  }
                  &.flex.hide {
                    display: none;
                  }
                  ul {
                    padding: 10px;
                    width: 20%;
                    li span {
                      color: var(--primaryContentHeader);
                    }
                  }
                }
                i.fg {
                  font-size: 16px;
                  margin-right: 5px;
                }
              }
              &.hide,
              span.hide,
              code.hide,
              .sub-content.hide {
                display: none;
              }
            }
          }
        }
      }
      .scan-wrapper {
        margin-top: 15px;
        .scan-section {
          margin-bottom: 25px;
          padding: 10px;
          border: 1px solid var(--primaryBorder);
          border-radius: 10px;
          margin-bottom: 20px;
          .scan-header {
            display: block;
            margin-bottom: 10px;
            span {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }
}
/* common/alert-details */
#dashboardModalDialog-content {
  width: 965px;
  max-height: 725px;
  .main-table {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    thead tr {
      color: var(--primaryContentHeader);
      background-color: var(--primaryContentBackground);
    }
    tbody td:hover {
      cursor: text;
    }
    &.top-info {
      th, td {
        padding: 10px !important;
        border: 1px solid var(--primaryBorder) !important;
      }
      .align-center {
        text-align: center;
        &.severity-level,
        &.collector,
        &.trigger {
          width: 15%;
        }
        &.datetime {
          width: 20%;
        }
        &.source {
          width: 35%;
        }
        &.src-ip,
        &.dest-ip {
          width: 30%;
        }
        &.src-port,
        &.dest-port {
          width: 20%;
        }
      }
      .severity {
        display: block;
        width: 90px;
        padding: 2px;
        color: #fff;
        border-radius: 10px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .alert-info {
    margin: 7px 0;
    background-color: var(--alertInfoBckground);
    padding: 20px;
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    min-height: 400px;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    & > .nav {
      width: 280px;
      border-right: 1px solid var(--primaryBorder);
      ul li {
        overflow: hidden;
        color: var(--mainListColor);
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid var(--primaryBorder);
        background-color: var(--primaryContentBackground);
        cursor: pointer;
        &:hover {
          background-color: var(--mainListHover);
        }
        span {
          &.active {
            color: var(--primaryContentHeader);
          }
        }
        &.header {
          cursor: text;
          &:hover {
            background-color: var(--mainListHover);
          }
          .name {
            float: left;
          }
          .ip {
            float: right;
            color: #2db142;
            font-weight: normal;
          }
        }
        &.child {
          clear: both;
          padding-left: 20px;
          background-color: var(--subFrameColor);
          border: none;
          &:hover {
            background-color: var(--mainListHover);
          }
        }
      }
    }
    & > .content {
      position: relative;
      width: 100%;
      color: var(--primaryTextColor);
      background-color: var(--contentBackground);
      .options-buttons {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: right;
        min-width: 100px;
        cursor: pointer;
        div {
          cursor: pointer;
          &.redirect-ip {
            float: left;
            margin-right: 10px;
          }
          &.query-more {
            float: left;
          }
        }
      }
      section.alert-rule {
        height: 375px;
        overflow-y: auto;
        ul {
          background: none !important;
        }
      }
      ul {
        &.redirect-menu {
          position: absolute;
          top: 35px;
          right: 0;
          border: 1px solid var(--primaryBorder);
          border-radius: 5px;
          background-color: #fff;
          z-index: 100;
          li {
            padding: 5px 10px;
            cursor: pointer;
            &:hover {
              background-color: #e5e5e5;
            }
          }
        }
        &.alert-rule {
          li {
            overflow-y: auto;
            max-height: 340px;
            padding-right: 10px;
            word-break: break-all;
          }
        }
      }
      .pcap {
        min-height: 285px;
        textarea {
          width: 550px;
          height: 280px;
        }
      }
      .payload {
        padding: 0 10px;
        ul {
          background-color: var(--contentBackground) !important;
        }
      }
      .srcIp-content,
      .destIp-content {
        margin-top: 30px;
        max-height: 348px;
        overflow-y: auto;
      }
      .srcIp-content,
      .destIp-content {
        .public {
          li {
            overflow: hidden;
            margin-bottom: 5px;
            .key {
              float: left;
              color: var(--primaryContentHeader);
              display: block;
            }
          }
        }
      }
      .pcap-content {
        footer {
          margin-top: 15px;
        }
      }
    }
    .network-behavior {
      position: relative;
      .msg {
        margin: 20px 0 10px 0;
      }
      .query-events {
        position: absolute;
        top: 35px;
        right: 0;
        padding: .3em .5em;
      }
      .table-data {
        max-height: 345px;
        overflow-y: auto;
        .severity-level {
          display: block;
          width: 90px;
          padding: 2px;
          color: #fff;
          border-radius: 10px;
          text-align: center;
        }
      }
    }
  }
}
#dashboardModalDialog-content {
  .scan-info {
    min-height: 365px;
    padding: 0;
    margin-top: 0;
    border: none;
    .info-content {
      .table {
        max-height: 315px;
        width: 670px;
      }
      .scan-content {
        .list {
          max-height: 205px;
        }
      }
      .scan-wrapper {
        margin-top: 5px;
        .scan-section {
          width: 690px;  
        }
      }
    }
  }
}
/* configuration/topology/inventory */
#configScanModalDialog-content {
  width: 965px;
  .main-table {
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    &.with-border {
      th, td {
        padding: 10px !important;
        border: 1px solid var(--primaryBorder) !important;
      }
    }
  }
  .scan-info {
    min-height: 550px;
    .info-content {
      .table {
        max-height: 405px;
        width: 885px;
      }
      .scan-content {
        .list {
          max-height: 340px;
        }
      }
      .scan-wrapper {
        min-height: 440px;
        .scan-section {
          width: 905px;  
        }
      }
    }
  }
}
/* configuration/topology/inventory */
/* configuration/topology/map */
#configSeatDialog-content {
  .main {
    font-size: 16px;
    color: #004d93;
    &.header {
      font-size: 14px;
      margin-bottom: 2px;
    }
  }
  .inventory {
    margin: 15px 0;
    i {
      padding: 2px;
      margin: 0 2px;
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
    }
  }
}
/* configuration/topology/owner-mixname */
#departmentTitleDialog-content {
  width: 350px;
  height: 400px;
  overflow-y: auto;
  .button-group {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
  }
  .fg-add {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
  }
  .table-data {
    height: 330px;
    margin-top: 15px;
    overflow-y: auto;
  }
  table {
    width: 100%;
    thead th {
      text-align: left;
    }
    tbody td.name {
      width: 77%;
      font-size: 15px;
    }
    tbody td.option {
      i {
        font-size: 26px;
        margin: 0 1px;
      }
    }
  }
}
/* configuration/syslog/syslog */
#viewEventsTimeline-content {
  width: 1000px;
  .calendar-section {
    overflow: hidden;
    width: 625px;
    margin: 0 auto;
    margin-top: 10px;
    #datetime {
      float: left;
      margin-right: 10px;
    }
    button {
      margin-top: 2px;
    }
  }
  .chart-section {
    float: left;
    width: 75%;
    margin-top: 30px;
    .msg {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .table-section {
    float: right;
    width: 20%;
    height: 430px;
    overflow-y: auto;
  }
}
/* configuration/syslog/syslog */
#syslogModalDialog-content {
  width: 900px;
  height: 620px;
  .syslogs {
    display: flex;
    margin-bottom: 15px;
    .syslog {
      flex: 1;
    }
    input {
      width: 95%;
    }
  }
  .filters {
    margin-top: 10px;
    label {
      color: #4d86e2;
    }
    textarea {
      resize: none;
    }
    .scrollY {
      max-height: 410px;
      overflow-y: auto;
    }
    .left-syslog {
      float: left;
      width: 58%;
      min-height: 330px;
      &.border {
        border: 1px solid var(--primaryBorder);
        border-radius: 5px;
      }
      .syslog-content {
        display: flex;
        .main {
          position: relative;
          width: 90%;
        }
      }
      .fg-down {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50%;
        visibility: hidden;
      }
      .fg-forward {
        margin-top: 35%;
        margin-left: 25px;
      }
      button {
        position: absolute;
        right: 0;
        top: -8px;
        padding: .2em .8em;
      }
      .pattern {
        label {
          float: left;
          margin-right: 2px;
        }
      }
    }
    .property {
      margin-left: 530px;
    }
    .right-syslog {
      float: right;
      width: 40%;
      min-height: 450px;
      padding: 15px 15px 20px 15px;
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
      &.no-padding {
        padding: 0;
      }
    }
  }
  .relationships {
    .group {
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
      margin-top: 10px;
      background-color: var(--relationshipBackground);
    }
    .relationship {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 90%;
      .up {
        display: flex;
        padding: 5px 5px;
      }
      .down {
        padding: 5px 5px;
        .table-100 {
          width: 100%;
        }
        table {
          border: 1px solid #CCCCCC;
          border-radius: 5px;
        }
      }
      .item {
        margin-left: 10px;
        label {
          color: #4d86e2;
        }
        select {
          width: 200px;
        }
      }
      .fg-next {
        margin-top: 30px;
        margin-left: 10px;
      }
    }
    .remove {
      height: 30px;
      width: 30px;
      margin-top: 10px;
      background-color: var(--primaryContentBackground);
    }
    .add {
      height: 30px;
      width: 30px;
      margin-top: 10px;
    }
  }
}
/* configuration/user/accounts/account-edit */
#accountEditDialog {
  .c-box.dialog.react-draggable {
    max-width: 600px;
    > .content {
      display: flex;
      .c-form > div input, 
      .c-form > div div {
         width: 250px;
      }
      .c-form > div.selected {
        margin-right: 6px;
      }
    }
  }
}
#privilegeEditDialog {
  footer {
    text-align: center;
  }
}
/* common/floor-map */
#floorModalDialog-content {
  width: 900px;
  .text {
    font-size: 1em;
    margin-bottom: 10px;
    min-height: 20px;
    span {
      font-weight: bold;
      color: var(--primaryContentHeader);
    }
  }
  header {
    position: relative;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid var(--primaryBorder);
    background-color: var(--formGroupBackground);
    overflow: hidden;
    &.add-floor {
      text-align: left;
      font-weight: normal;
      color: #5b5b5b;
    }
    .fg {
      color: var(--primaryTextColor);
      font-size: 1.8em;
      border: 1px solid var(--primaryBorder);
      padding: 2px;
      border-radius: 5px;
      margin-left: 10px;
      background-color: var(--primaryContentBackground);
      &.active {
        background-color: var(--buttonSelectedColor);
        color: #ffffff;
        cursor: default;
      }
    }
  }
  .left,
  .right {
    min-height: 460px;
  }
  .left {
    float: left;
    width: 38%;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    .display-tree {
      margin-top: 10px;
    }
  }
  .right {
    float: right;
    width: 61%;
    padding: 0;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    .field {
      float: left;
      width: 35%;
      margin-right: 10px;
      label {
        font-size: 16px;
        font-weight: normal;
        color: var(--primaryTextColor);
      }
      &.upload {
        width: 235px;
        margin-right: 0;
      }
    }
    .area-upload {
      width: 235px;
      button {
        font-size: 15px;
        min-width: 70px;
      }
    }
    .fg-save,
    .fg-trashcan {
      float: left;
      font-size: 28px;
      margin: 24px 0px 0 10px;
    }
    .map {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      img {
        width: 500px;
        height: 330px;
      }
    }
  }
}
/* common/query-open-save */
#queryModal-content {
  text-align: center;
  margin-top: 30px;
}
/* common/query-open-save */
#queryDialog-dialog {
  label {
    color: #004d93;
  }
  .query-name {
    float: left;
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    &.dropdown {
      width: 200px;
      margin-right: 5px;
    }
  }
  .filter-group {
    clear: both;
    overflow-y: hidden;
    padding: 5px 6px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #ededed;
  }
  .main-filter-group,
  .main-mark-group {
    padding: 0;
    background: none;
    select, input {
      color: #5b5b5b;
      background-color: #fff;
    }
    .filter-select {
      width: 215px;
    }
    .condition-select {
      width: 100px;
    }
    .filter-inputbox {
      width: 293px;
      height: 35px;
    }
    .mark-inputbox {
      width: 200px;
      height: 35px;
    }
    .fg-close,
    .fg-add,
    .fg-recode {
      display: none;
    }
  }
  .main-mark-group {
    float: left;
    &:nth-child(odd) {
      clear: both;
    }
    .mark-inputbox {
      width: 196px;
    }
  }
  .delete-query {
    margin-top: 15px;
  }
  .error-msg {
    text-align: center;
    margin: 20px 0;
  }
  footer {
    .c-info {
      color: #d0021b;
    }
  }
}
#irSelectionDialog-content {
  width: 450px;
  #irComboList {
    margin: 10px 0 20px 0;
  }
  .c-checkbox-group {
    height: 270px;
  }
}
#editHostDialog-content {
  .group {
    margin-bottom: 5px;
  }
}
#editHostDialog-dialog,
#renderNameDialog-dialog {
  footer {
    text-align: center;
    button {
      margin: 0 5px;
    }
  }
}
#fileModal-content {
  text-align: center;
}
#uploadThreatDialog-content {
  width: 350px;
}
#batchUploadDialog-content {
  #csvFileInput {
    margin-bottom: 10px;
  }
  .csv-options {
    float: right;
    label {
      float: left;
      margin-right: 5px;
    }
  }
}
#batchUploadStatusModal-content {
  min-width: 500px;
  .error-msg {
    color: #da364a;
    margin-top: 10px;
  }
  .table-data {
    max-height: 400px;
    overflow-y: auto;
    .main-table {
      width: 100%;
    }
  }
}