html {
  --primaryContentHeader: #185e9e;
  --primaryTextColor: #4a4a4a;
  --primaryContentBackground: #fff;
  --primaryBorder: #d9d9d9;

  --alertInfoBckground: #f7f7f7;
  --linkColor: #004d93;

  --mainListColor: #4e4d4e;
  --mainListHover: #e2ecfd;
  --subFrameColor: #e8e9ed;
  --contentBackground: #f5f5f5;
  --buttonSelectedColor: #001b34;

  --formBackground: #fff;
  --formInputBorderColor: #d9d9d9;
  --formGroupBackground: #f2f2f2;

  --paginationBtnColor: #5b5b5b;
  --paginationBtnBackground: #fff;

  --dialogFormGroup: #ededed;
  --syncRule: #d9d9d9;
}
html[data-theme='dark'] {
  --primaryContentHeader: #069bda;
  --primaryTextColor: #fff;
  --primaryContentBackground: #1f1e1e;
  --primaryBorder: #4b4b4b;

  --alertInfoBckground: #333;
  --linkColor: #069bda;

  --mainListColor: #fff;
  --mainListHover: #1a3248;
  --subFrameColor: #0f0f0f;
  --contentBackground: #1f1e1e;
  --buttonSelectedColor: #069bda;

  --formBackground: #474747;
  --formInputBorderColor: #474747;
  --formGroupBackground: #333;

  --paginationBtnColor: #fff;
  --paginationBtnBackground: #1a668c;

  --dialogFormGroup: #333;
  --syncRule: #333;
}

.c-modal {
  & > #overlay {
    background-color: rgba(0, 0, 0, 1);
  }
  & > .dialog > .content {
    max-width: 1280px;
    max-height: 715px;
  }
  & > .dialog > footer > button {
    margin: 0 0.3em;
  }
  .c-table {
    thead tr {
      color: var(--primaryContentHeader);
      background-color: var(--primaryContentBackground);
    }
  }
  .c-box {
    & > header > i {
      color: var(--primaryTextColor);
    }
    & > header:not(.legend) {
      border-bottom: 1px solid var(--primaryBorder);
    }
  }
}
.c-gis {
  min-height: 500px;
  .actions {
    display: none;
  }
  .leaflet-control-zoom-in {
    display: block !important;
  }
}
.leaflet-container {
  background: #fff;
}
.react-multi-email {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--formBackground);
  input {
    margin-left: 2px;
  }
  [data-tag] {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    padding: 8px 10px;
    margin: 2px;
    background-color: var(--primaryContentHeader);
  }
}
.table-sort-list {
  list-style-type: none;
  overflow: hidden;
  color: var(--primaryTextColor);
  padding: 5px;
  border: 1px solid var(--primaryBorder);
  background-color: var(--primaryContentBackground);
  z-index: 10000;
  user-select: none;
  .fg-filter,
  .fg-edit {
    float: left;
    cursor: pointer;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .fg-edit {
    margin-right: 2px;
  }
  i.data-field {
    float: left;
    &.flow {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  span {
    a {
      text-decoration: underline;
    }
    &.key {
      float: left;
      font-weight: bold;
      width: 18%;
      display: inline-block;
    }
    &.value {
      float: left;
      width: 70%;
      word-wrap: break-word;
      .value-input {
        color: var(--primaryTextColor);
        padding: 0;
        border: none;
        background-color: var(--primaryContentBackground);
      }
    }
  }
  i.fg-menu {
    font-size: 26px;
    width: 28px;
    cursor: row-resize;
    &.flow {
      float: right;
    }
  }
}
#areaMapUpload {
  input {
    margin-bottom: 1px !important;
  }
}
.modal-dialog {
  .main-table {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    thead tr {
      color: var(--primaryContentHeader);
      background-color: var(--primaryContentBackground);
    }
    tbody td:hover {
      cursor: text;
    }
    &.with-border {
      th, td {
        padding: 10px !important;
        border: 1px solid var(--primaryBorder) !important;
      }
    }
  }
  .content {
    padding: 10px;
  }
  .button-group {
    margin: 10px;
  }
  .form-group {
    label {
      display: block;
      text-align: left;
      font-size: .9em;
      color: var(--primaryContentHeader);
      margin-bottom: 3px;
    }
    .group {
      width: 100%;
      padding: 5px;
      text-align: left;
    }
  }
}
#modalWindowSmall {
  #modalWindowSmall-dialog {
    footer button {
      margin: 0 5px;
    }
  }
  #modalWindowSmall-content {
    min-width: 300px;
    text-align: center;
    .align-center {
      margin-top: 30px;
    }
    .main-table {
      margin: 0 auto;
      &.severity {
        .fg-checkbox-fill {
          float: left;
          margin-right: 5px;
        }
      }
    }
    .content {
      margin: 25px 0;
      text-align: center;
      &.small-margin {
        margin: 10px 0;
      }
      &.align-left {
        text-align: left;
      }
      &.delete {
        span {
          display: block;
          color: #d62238;
        }
      }
      li {
        margin-bottom: 20px;
      }
    }
    button {
      margin-top: 10px;
    }
    table.pattern {
      span {
        color: red;
      }
    }
  }
  footer {
    text-align: center;
  }
  .c-table .header {
    min-width: 50px;
  }
  .country-rank {
    display: block;
    color: var(--primaryContentHeader);
    text-align: left;
    margin: 10px 0 10px 0;
  }
}
.modal-dialog,
#viewJsonDialog-dialog {
  .json-data {
    height: 680px;
    overflow-y: auto;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    & > li {
      padding: 5px 10px;
      ul {
        background: none !important;
      }
    }
  }
  .pagination {
    position: fixed;
    width: 300px;
    bottom: 10px;
    .buttons {
      button {
        float: left;
        color: var(--paginationBtnColor);
        margin-right: 10px;
        margin-top: 10px;
        background-color: var(--paginationBtnBackground);
        &:hover:not([disabled]) {
          background-color: var(--buttonHoverColor);
        }
      }
    }
    .count {
      float: left;
      font-size: 5px;
      color: #fff;
      padding: 5px;
      margin-top: 12px;
      border-radius: 50%;
      background-color: #d0021b;
    }
  }
  footer {
    .c-info {
      color: #da364a;
    }
  }
}
.modal-dialog {
  padding: 0;
  header {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primaryContentHeader);
    padding: 15px;
  }
  .content {
    color: var(--primaryTextColor);
    label {
      display: block;
      color: var(--primaryContentHeader);
      margin-bottom: 3px;
      span {
        color: #da364a;
      }
    }
    input,
    select,
    textarea {
      width: 100%;
      &.add {
        margin-bottom: 15px;
      }
    }
    textarea {
      border: 1px solid var(--primaryBorder);
    }
    .c-combobox {
      width: 100%;
    }
    &.delete {
      span {
        display: block;
        color: #d62238;
        margin-top: 10px;
      }
    }
  }
  select {
    width: 100%;
  }
  .button-group {
    button {
      min-width: 125px;
    }
  }
  .json-data {
    &.alert {
      height: 395px;
      border: none;
      & > li {
        padding: 0;
      }
    }
    & > li {
      span {
        a {
          text-decoration: underline;
        }
        &.key {
          float: left;
          width: 25%;
          font-weight: bold;
          display: inline-block;
          &.short {
            width: 15%;
          }
        }
        &.value {
          float: right;
          width: 75%;
          &.long {
            width: 85%;
          }
        }
      }
      &.border {
        border-bottom: 1px solid var(--primaryBorder);
      }
    }
  }
}
/* events/netflow/index */
/* events/syslog/index */
#viewJsonDialog-dialog {
  header {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--primaryContentHeader);
    padding: 15px;
    background-color: var(--primaryContentBackground);
  }
  footer {
    padding: 10px;
  }
  #viewJsonDialog-content {
    width: 1280px;
  }
}
/* events/netflow/index */
#flowModalDialog-content {
  width: 1280px;
}
/* events/netflow/index */
#pcapModalDialog-dialog {
  .standard {
    display: none;
  }
}
/* events/netflow/index */
#pcapModalDialog-content {
  width: 700px;
  .pcap {
    min-height: 270px;
    textarea {
      width: 550px;
      height: 260px;
    }
  }
}
/* events/netflow/index */
#tagModalDialog-content {
  width: 400px;
  .github-picker {
    float: left;
    margin-right: 10px;
  }
  .group {
    float: left;
  }
  .color-box {
    float: left;
    width: 60px;
    height: 30px;
    margin-top: 4px;
    border-radius: 5px;
    &.red {
      background-color: #B80000;
    }
    &.orange {
      background-color: #DB3E00;
    }     
    &.yellow {
      background-color: #FCCB00;
    }
    &.green {
      background-color: #008B02;
    }
    &.darkGreen {
      background-color: #006B76;
    }
    &.blue {
      background-color: #1273DE;
    }
    &.darkBlue {
      background-color: #004DCF;
    }
    &.purple {
      background-color: #5300EB;
    }
  }
}
/* events/endpoint/index */
#addTaskDialog-content {
  max-height: 550px;
  min-width: 400px;
}
/* configuration/notifications/index */
#testEmailDialog-content {
  width: 500px;
  padding: 20px 20px 25px 20px;
}
/* configuration/topology/inventory */
/* configuration/common/alert-details */
#dashboardModalDialog-content,
#configScanModalDialog-content {
  #g-progress-container {
    .fg-loading-2 {
      display: block;
      text-align: center;
    }
  }
  .main-table {
    thead {
      border-top: 1px solid var(--primaryBorder);
    }
    tbody {
      tr.align-center td {
        text-align: center;
      }
    }
    span[title] {
      cursor: default;
    }
  }
  .scan-info {
    overflow: hidden;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    background-color: var(--contentBackground);
    .info-content {
      overflow: hidden;
      clear: both;
      .info {
        position: relative;
        height: 50px;
        padding-top: 15px;
        overflow: hidden;
        .refresh {
          position: absolute;
          top: 15px;
          left: -5px;
        }
        .last-update {
          float: right;
          margin-top: 5px;
        }
        .btn {
          float: right;
          padding: .3em .5em;
          margin-left: 10px;
        }
      }
      .table {
        overflow-y: auto;
        .gcb_CceId,
        .gcb_Type,
        .gcb_CompareResult {
          text-align: center;
          min-width: 120px;
        }
        .scan-file_Filesize,
        .scan-file_IsPE,
        .scan-file_IsPEextension,
        .scan-file_IsVerifyTrust,
        .hostIdArrCnt {
          text-align: center;
          min-width: 140px;
        }
        .empty-msg {
          margin-top: 10px;
        }
      }
      .dashboard-wrapper {
        width: 100%;
        margin-top: 25px;
        overflow-y: auto;
      }
      .spider-chart {
        float: left;
        width: 65%;
      }
      .main-table.score {
        float: right;
        width: 32%;
        margin-right: 1%;
      }
      .scan-content {
        margin-top: 10px;
        border-top: 2px solid var(--primaryBorder);
        border-bottom: 2px solid var(--primaryBorder);
        & > .header {
          color: var(--primaryContentHeader);
          font-weight: bold;
          padding: 5px 10px;
        }
        .empty-msg {
          margin: 5px 0 5px 10px;
        }
        .list {
          overflow-y: auto;
          .group {
            border-top: 1px solid var(--primaryBorder);
            .path {
              display: flex;
              overflow-wrap: break-word;
              color: var(--primaryTextColor);
              padding: 5px 10px 8px 10px;
              background-color: var(--primaryContentBackground);
              &.pointer {
                cursor: pointer;
              }
              i.fg {
                height: 24px;
                margin-right: 10px;
                border: 1px solid var(--primaryBorder);
                border-radius: 5px;
                &.rotate {
                  transform: rotate(180deg);
                }
              }
              .path-header {
                flex: 1;
                width: 80%;
                text-align: left;
                margin-top: 1px;
              }
              .scan-type {
                color: #b1b1b1;
              }
            }
            .rule {
              padding: 5px 45px;
              border-top: 1px solid var(--primaryBorder);
              .rule-content {
                margin-bottom: 2px;
                .header,
                .tree-content {
                  position: relative;
                  width: 100%;
                  cursor: default;
                }
                .header {
                  color: var(--primaryContentHeader);
                  span {
                    padding-left: 18px;
                    display: inline-block;
                    cursor: pointer;
                  }
                  li span {
                    padding-left: 0;
                    cursor: default;
                  }
                  .fg-play {
                    position: absolute;
                    top: 2px;
                    cursor: pointer;
                    &.rotate {
                      transform: rotate(90deg);
                    }
                  }
                }
                .sub-content {
                  padding-left: 20px;
                  &.flex {
                    display: flex;
                    flex-wrap: wrap;
                    padding-left: 10px;
                  }
                  &.flex.hide {
                    display: none;
                  }
                  ul {
                    padding: 10px;
                    width: 20%;
                    li span {
                      color: var(--primaryContentHeader);
                    }
                  }
                }
                i.fg {
                  font-size: 16px;
                  margin-right: 5px;
                }
              }
              &.hide,
              span.hide,
              code.hide,
              .sub-content.hide {
                display: none;
              }
            }
          }
        }
      }
      .scan-wrapper {
        margin-top: 15px;
        .scan-section {
          margin-bottom: 20px;
          padding: 10px;
          border: 1px solid var(--primaryBorder);
          border-radius: 10px;
          .scan-header {
            display: block;
            margin-bottom: 10px;
            span {
              margin-right: 15px;
            }
          }
        }
      }
      .settings {
        position: relative;
        .settings-wrapper {
          overflow-y: auto;
        }
        .options-btn {
          float: right;
          margin-top: 10px;
          margin-right: 10px;
          .btn {
            padding: .3em .5em;
          }
          .restore-default,
          .save,
          .cancel {
            float: right;
          }
          .restore-default,
          .save {
            margin-right: 5px;
          }
        }
        .toggle-btn {
          position: absolute;
          top: 65px;
          left: 135px;
          label {
            display: inherit;
          }
        }
        .settings-form {
          margin: 0 10px;
          .form-group {
            margin-bottom: 20px;
            label {
              display: block;
              text-align: left;
              font-size: .9em;
              color: var(--primaryContentHeader);
              margin-bottom: 3px;
            }
            .flex-item {
              margin-top: 10px;
              span {
                font-size: 14px;
                color: #fff;
                padding: 5px 10px;
                margin: 3px 2px;
                border-radius: 5px;
                background-color: var(--primaryContentHeader);
              }
            }
          }
        }
      }
    }
  }
}
/* common/alert-details */
#dashboardModalDialog-content {
  width: 1280px;
  max-height: 725px;
  .main-table {
    td {
      &.severity-level,
      &.collector,
      &.trigger {
        width: 15%;
      }
      &.datetime {
        width: 20%;
      }
      &.source {
        width: 35%;
      }
      &.src-ip,
      &.dest-ip,
      &.src-port,
      &.dest-port {
        width: 20%;
      }
      &.protocol {
        width: 10%;
      }
    }
    .severity {
      display: block;
      color: #fff;
      width: 90px;
      padding: 2px;
      margin: 0 auto;
      text-align: center;
      border-radius: 10px;
    }
  }
  .alert-info {
    padding: 20px;
    margin: 7px 0;
    background-color: var(--alertInfoBckground);
  }
  .ivar {
    display: flex;
    align-items: center;
    img {
      float: left;
      width: 100px;
      height: 100px;
      margin-right: 15px;
      border-radius: 50%;
    }
    .msg {
      margin-right: 15px;
    }
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    min-height: 395px;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    & > .nav {
      width: 280px;
      border-right: 1px solid var(--primaryBorder);
      ul li {
        overflow: hidden;
        color: var(--mainListColor);
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        border-bottom: 1px solid var(--primaryBorder);
        background-color: var(--primaryContentBackground);
        cursor: pointer;
        &:hover {
          background-color: var(--mainListHover);
        }
        &.header {
          cursor: text;
          &:hover {
            background-color: var(--mainListHover);
          }
          .name {
            float: left;
          }
          .ip {
            float: right;
            color: #2db142;
            font-weight: normal;
          }
        }
        &.child {
          clear: both;
          padding-left: 20px;
          background-color: var(--subFrameColor);
          border: none;
          &:hover {
            background-color: var(--mainListHover);
          }
        }
        &.not-allowed {
          cursor: not-allowed;
          span {
            color: var(--primaryBorder);
          }
        }
        span {
          &.active {
            color: var(--primaryContentHeader);
          }
        }
      }
    }
    & > .content {
      position: relative;
      color: var(--primaryTextColor);
      width: 100%;
      background-color: var(--contentBackground);
      .options-buttons {
        overflow: hidden;
        margin-bottom: 10px;
        section {
          float: right;
          cursor: pointer;
          .multi-items {
            overflow: hidden;
            span {
              display: block;
              float: left;
              margin-left: 10px;
            }
          }
        }
      }
      ul {
        &.redirect-menu {
          position: absolute;
          top: 35px;
          right: 0;
          border: 1px solid var(--primaryBorder);
          border-radius: 5px;
          background-color: var(--primaryContentBackground);
          z-index: 100;
          li {
            padding: 5px 10px;
            cursor: pointer;
            &:hover {
              background-color: var(--tabMenuHover);
            }
          }
        }
        &.alert-rule {
          margin-top: 5px;
          li {
            overflow-y: auto;
            max-height: 340px;
            padding-right: 10px;
            word-break: break-all;
          }
        }
      }
      .pcap {
        min-height: 285px;
        textarea {
          width: 550px;
          height: 280px;
        }
      }
      .payload {
        height: 395px;
        overflow-y: auto;
        padding: 0 10px;
        border: none;
        ul {
          background-color: var(--contentBackground) !important;
        }
      }
      .alert-rule,
      .srcIp-content,
      .destIp-content {
        margin-top: 5px;
        height: 395px;
        overflow-y: auto;
        .fg-info {
          cursor: pointer;
        }
      }
      .alert-rule {
        ul {
          background: none !important;
        }
        .fg-info {
          position: absolute;
          margin-left: 2px;
        }
      }
      .srcIp-content,
      .destIp-content {
        .public {
          li {
            overflow: hidden;
            margin-bottom: 5px;
            .key {
              float: left;
              color: var(--primaryContentHeader);
              display: block;
            }
          }
        }
      }
    }
    .network-behavior {
      position: relative;
      .msg {
        margin: 20px 0 10px 0;
      }
      .query-events {
        position: absolute;
        top: 35px;
        right: 0;
        padding: .3em .5em;
      }
      .table-data {
        height: 330px;
        overflow-y: auto;
        .network-behavior {
          width: 50%;
        }
        .severity-level {
          display: block;
          color: #fff;
          width: 90px;
          padding: 2px;
          border-radius: 10px;
          text-align: center;
        }
      }
    }
  }
  .scan-info {
    min-height: 365px;
    padding: 0;
    margin-top: 0;
    border: none;
    .info-content {
      .table {
        width: 100%;
        max-height: 315px;
      }
      .scan-content {
        .list {
          max-height: 245px;
        }
      }
      .dashboard-wrapper {
        height: 360px;
      }
      .scan-wrapper {
        margin-top: 5px;
        .scan-section {
          width: 99%;
        }
      }
      .settings-wrapper {
        height: 340px;
      }
    }
  }
}
/* configuration/topology/inventory */
#configScanModalDialog-content {
  width: 1280px;
  .scan-info {
    min-height: 550px;
    .info-content {
      .table {
        max-height: 405px;
        width: 100%;
      }
      .scan-content {
        .list {
          max-height: 340px;
        }
      }
      .dashboard-wrapper {
        height: 480px;
      }
      .scan-wrapper {
        min-height: 440px;
        .scan-section {
          width: 99%;
        }
      }
      .settings-wrapper {
        height: 455px;
      }      
    }
  }
}
/* configuration/topology/inventory */
/* configuration/topology/map */
#configSeatDialog-content {
  .main {
    font-size: 16px;
    color: var(--linkColor);
    &.header {
      font-size: 14px;
      margin-bottom: 2px;
    }
  }
  .inventory {
    margin: 15px 0;
    i {
      padding: 2px;
      margin: 0 2px;
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
    }
  }
}
/* configuration/topology/owner-mixname */
#departmentTitleDialog-content {
  width: 350px;
  height: 400px;
  overflow-y: auto;
  .button-group {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
  }
  .fg-add {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
  }
  .table-data {
    height: 330px;
    margin-top: 15px;
    overflow-y: auto;
  }
  table {
    width: 100%;
    thead th {
      text-align: left;
    }
    tbody td.name {
      width: 77%;
      font-size: 15px;
    }
    tbody td.option {
      i {
        font-size: 26px;
        margin: 0 1px;
      }
    }
  }
}
/* configuration/syslog/syslog */
#viewEventsTimeline-content {
  width: 1280px;
  .calendar-section {
    overflow: hidden;
    width: 625px;
    margin: 0 auto;
    margin-top: 10px;
    #datetime {
      float: left;
      margin-right: 10px;
    }
    button {
      margin-top: 2px;
    }
  }
  .chart-section {
    float: left;
    width: 75%;
    margin-top: 30px;
    .msg {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .table-section {
    float: right;
    width: 25%;
    height: 430px;
    overflow-y: auto;
  }
}
/* configuration/user/accounts/account-edit */
#accountEditDialog {
  .c-box.dialog.react-draggable {
    max-width: 600px;
    > .content {
      display: flex;
      .c-form > div input, 
      .c-form > div div {
         width: 250px;
      }
      .c-form > div.selected {
        margin-right: 6px;
      }
    }
  }
}
#privilegeEditDialog {
  footer {
    text-align: center;
  }
}
/* common/floor-map */
#floorModalDialog-content {
  width: 900px;
  .text {
    font-size: 1em;
    margin-bottom: 10px;
    min-height: 20px;
    span {
      font-weight: bold;
      color: var(--primaryContentHeader);
    }
  }
  header {
    position: relative;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid var(--primaryBorder);
    background-color: var(--formGroupBackground);
    overflow: hidden;
    &.add-floor {
      text-align: left;
      font-weight: normal;
    }
    .fg {
      color: var(--primaryTextColor);
      font-size: 1.8em;
      padding: 2px;
      margin-left: 10px;
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
      background-color: var(--primaryContentBackground);
      &.active {
        color: #ffffff;
        background-color: var(--buttonSelectedColor);
        cursor: default;
      }
    }
  }
  .left,
  .right {
    min-height: 460px;
  }
  .left {
    float: left;
    width: 38%;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    .display-tree {
      margin-top: 10px;
    }
  }
  .right {
    float: right;
    width: 61%;
    padding: 0;
    border: 1px solid var(--primaryBorder);
    border-radius: 5px;
    .field {
      float: left;
      width: 35%;
      margin-right: 10px;
      label {
        font-size: 16px;
        font-weight: normal;
        color: var(--primaryTextColor);
      }
      &.upload {
        width: 235px;
        margin-right: 0;
      }
    }
    .area-upload {
      width: 235px;
      button {
        font-size: 15px;
        min-width: 70px;
      }
    }
    .fg-save,
    .fg-trashcan {
      float: left;
      font-size: 28px;
      margin: 24px 0px 0 10px;
    }
    .map {
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
      img {
        width: 500px;
        height: 330px;
      }
    }
  }
}
/* common/query-open-save */
#queryModal-content {
  text-align: center;
  margin-top: 30px;
}
/* common/query-open-save */
#queryDialog-dialog {
  label {
    color: var(--linkColor);
  }
  .query-name {
    float: left;
    width: 58%;
    height: 35px;
    margin-bottom: 10px;
    &.dropdown {
      width: 40%;
      margin-right: 5px;
      margin-bottom: 15px;
    }
  }
  .filter-group {
    clear: both;
    min-width: 400px;
    overflow-y: hidden;
    padding: 5px 6px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--dialogFormGroup);
  }
  .main-filter-group,
  .main-mark-group {
    padding: 0;
    background: none;
    select, input {
      color: var(--primaryTextColor);
      border: 1px solid var(--formInputBorderColor);
      background-color: var(--formBackground);
    }
    .group > div {
      width: 100%;
    }
    .filter-select {
      width: 215px;
    }
    .condition-select {
      width: 25%;
      margin-right: 3px;
    }
    .filter-inputbox {
      width: 74%;
      height: 35px;
      color: var(--primaryTextColor);
      border: 1px solid var(--formInputBorderColor);
      background-color: var(--formBackground);
    }
    .mark-inputbox {
      width: 200px;
      height: 35px;
    }
    .fg-close,
    .fg-add,
    .fg-recode {
      display: none;
    }
  }
  .main-mark-group {
    float: left;
    &:nth-child(odd) {
      clear: both;
    }
    .mark-inputbox {
      width: 196px;
    }
  }
  .severity-level {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: var(--dialogFormGroup);
    clear: both;
    .fg-recode {
      float: left;
      margin-right: 5px;
      margin-top: 5px;
    }
    .period {
      color: var(--primaryContentHeader);
      margin-top: 5px;
      margin-bottom: 10px;
      .number {
        width: 65px;
      }
    }
    .email-disabled {
      height: 44px;
    }
  }
  #patternCheckbox {
    float: left;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  .pattern-header {
    color: var(--linkColor);
  }
  #severityLevel {
    width: 93%;
    margin-bottom: 10px;
  }
  .email-list {
    margin-bottom: 15px;
  }
  .flex-item {
    display: flex;
    flex-wrap: wrap;
    span {
      font-size: 14px;
      color: #fff;
      padding: 5px 10px;
      margin: 3px 2px;
      border-radius: 5px;
      background-color: var(--primaryContentHeader);
    }
  }
  .error-msg {
    text-align: center;
    margin: 20px 0;
  }
  footer {
    .c-info {
      color: #d0021b;
    }
  }
}
#irSelectionDialog-content {
  width: 450px;
  #irComboList {
    margin: 10px 0 20px 0;
  }
  .c-checkbox-group {
    height: 270px;
  }
}
#editPatternName-content {
  width: 300px;
  .pattern {
    width: 90%;
    margin: 10px auto;
  }
}
#editPatternName-content,
#editHostDialog-content {
  width: 300px;
  .parent {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 15px;
    .group {
      margin-bottom: 15px;
    }
  }
}
#editHostDialog-dialog,
#renderNameDialog-dialog {
  footer {
    text-align: center;
    button {
      margin: 0 5px;
    }
  }
}
#fileModal-content {
  text-align: center;
}
#uploadThreatsDialog-content,
#addThreatsDialog-content {
  width: 350px;
}
#searchThreatsDialog-dialog {
  width: 1280px;
  height: 85vh;
  .filter-wrapper {
    overflow: hidden;
    margin: 10px 0;
    .filter-section {
      float: left;
      margin-right: 10px;
      select {
        width: auto;
      }
      input {
        width: 250px;
        height: 36px;
      }
    }
    .button-group {
      margin-top: 0;
      button {
        min-width: auto;
        margin-top: 3px;
      }
    }
  }
  .table-content {
    .table {
      height: 530px;
      overflow-y: auto;
      margin-bottom: 30px;
    }
    .pagination {
      position: relative;
      width: auto;
      bottom: auto;
      display: flex;
      margin-left: 20px;
      label {
        float: left;
        margin-top: 6px;
      }
      select {
        width: auto;
      }
    }
  }
}
#batchUploadDialog-content {
  #csvFileInput {
    margin-bottom: 10px;
  }
  .csv-options {
    float: right;
    label {
      float: left;
      margin-right: 5px;
    }
  }
}
#batchUploadStatusModal-content {
  min-width: 500px;
  .error-msg {
    color: #da364a;
    margin-top: 10px;
  }
  .table-data {
    max-height: 400px;
    overflow-y: auto;
    .main-table {
      width: 100%;
    }
  }
}
#adminResetPasswordDialog-dialog {
  width: 260px;
}
#addThreatsDialog-content {
  width: 900px;
  height: 620px;
  .add-threats {
    display: flex;
    width: 55em;
    margin-right: 5px;
    margin-bottom: 5px;
    input {
      margin-top: 0.55em;
      margin-left: 1em;
      &.error {
        border-color: #da364a;
      }
    }
    select {
      margin-top: 0.55em;
      margin-left: 0.5em;
      &.type {
        width: 175px;
      }
      &.severity {
        color: #fff;
        width: 110px;
        &.emergency {
          background-color:  #CC2943;
        }
        &.alert {
          background-color: #CC7B29;
        }
        &.critical {
          background-color: #29B0CC;
        }
        &.warning {
          background-color: #29CC7A;
        }
        &.notice {
          background-color: #7ACC29;
        }
        option {
          color: var(--primaryTextColor);
          background-color: var(--formBackground);
        }
      }
    }
  }
  #threatMultiInputs {
    .group {
      margin-top: 10px;
      border: 1px solid var(--primaryBorder);
      border-radius: 5px;
      background-color: var(--contentBackground);
    }
    .fg-add,
    .fg-close {
      height: 30px;
      width: 30px;
      margin-top: 10px;
    }
    .fg-close {
      background-color: var(--formBackground);
    }
  }
}
#yaraRuleDialog-content {
  max-height: 500px;
  width: 600px;
  .radio-group {
    flex-direction: row;
    margin: 10px 0;
  }
  .list-item {
    margin: 0;
    margin-right: 10px;
    input {
      width: 20px;
    }
  }
  .path-input {
    width: 100%;
    .error {
      border-color: #d0021b;
    }
  }
}
#encodeDecodeDialog-content {
  width: 780px;
  .text-area {
    height: 130px;
  }
  .drop-down {
    float: left;
    margin-top: 16px;
    margin-right: 5px;
  }
  button {
    margin: 20px 3px;
  }
}
#encodeDecodeAction {
  z-index: 10000;
}